.partners-list__title {
  margin-bottom: to-rem(24);
  color: var(--col-primary-grey);
}

.partners-list__list {
  display: flex;
  align-items: center;
  color: var(--col-primary-grey);
}

.partners-list__item {
  display: flex;

  &:not(:last-child) {
    margin-right: to-rem(32);
  }
}

.partners-list__item-icon {
  width: to-rem(28);
}
