.partners-list {
  color: var(--col-primary-grey);
}

.partners-list__title {
  margin-bottom: to-rem(24);
  font-size: to-rem(12);
  line-height: 1.33;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
}

.partners-list__list {
  display: flex;
  align-items: center;
}

.partners-list__item {
  display: flex;

  &:not(:last-child) {
    margin-right: to-rem(32);
  }
}

.partners-list__item-icon {
  height: auto;
  width: to-rem(24);

  @include respond-above(md) {
    width: to-rem(28);
  }
}
