.nft-checkout-steps-section {
  position: sticky;
  top: 0;
  height: vh(100);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: to-rem(50);
  text-align: center;

  @include respond-above(medium) {
    justify-content: flex-start;
    padding-bottom: to-rem(150);
    text-align: left;
  }
}

.nft-checkout-steps-section__content {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.nft-checkout-steps-section__list {
  width: 100%;
  margin: 0;

  @include respond-above(medium) {
    max-width: to-rem(320);
  }
}

.nft-checkout-steps-section__item {
  display: flex;
  flex-direction: column;

  &:not(.swiper-slide-active) {
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 0 !important;
  }
}

.nft-checkout-steps-section__counter {
  order: -1;
  margin-bottom: to-rem(8);
  font-family: var(--secondary-font-family);
  font-size: to-rem(16);
  font-weight: 700;

  @include respond-above(medium) {
    margin-bottom: to-rem(24);
    font-size: var(--h4-size);
  }

  &--total {
    @include respond-above(medium) {
      font-size: to-rem(20);
    }
  }
}

.nft-checkout-steps-section__title {
  font-family: var(--secondary-font-family);
  font-size: to-rem(24);
  text-transform: uppercase;

  @include respond-above(medium) {
    font-size: to-rem(48);
  }
}
