.app-bar {
  position: fixed;
  z-index: var(--z-app-bar);
  top: 0;
  left: 50%;
  width: 100%;
  height: var(--app-bar-height);
  background-color: transparent;
  transform: translate(-50%, 0);
  transition-property: transform;
  transition-duration: var(--slow-transition-duration);
  transition-timing-function: var(--fade-transition-timing-function);
  // animation: first-render-slide 0.6s;

  &.app-bar--hidden {
    transform: translate(-50%, -100%);
  }
}

// @keyframes first-render-slide {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

.app-bar__container {
  height: 100%;
  overflow: hidden;

  @include block-with-bg-border;
}

.app-bar__content {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 bg-space(0.5);

  @include respond-above(sm) {
    padding: 0 bg-space(1);
  }

  @include respond-above(xm) {
    padding: 0;
  }
}

.app-bar__logo {
  display: inline-flex;
  height: to-rem(24);
  flex-shrink: 0;
  color: var(--app-bar-logo-color);

  &:hover {
    color: var(--app-bar-logo-color);
  }
}

.app-bar__logo-img {
  height: 100%;
  width: auto;
}

.app-bar__navigation {
  margin-left: auto;
  flex-shrink: 0;
}

.app-bar__links-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: to-rem(14);
}

.app-bar__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--secondary-title-color);
    }
  }

  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}

.app-bar__link-icon {
  transform: rotate(-45deg);

  &:not(:first-child) {
    margin-left: to-rem(8);
  }
}

.app-bar__sidebar-btn {
  height: bg-space(1);
  width: bg-space(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-image: url('/img/app-bar/sidebar-btn-bg.jpg');
  background-size: 100%;
}

.app-bar__sidebar-btn-inner {
  height: to-rem(2);
  width: to-rem(16);
  background-color: var(--primary-bg-color);

  &:not(:last-child) {
    margin-bottom: to-rem(2);
  }
}
