.app-bar {
  position: fixed;
  z-index: var(--z-app-bar);
  top: 0;
  right: 0;
  left: 0;
  height: var(--app-bar-height);
  background-color: transparent;
  overflow: hidden;
  transition-property: background-color, transform;
  transition-duration: var(--slow-transition-duration);
  transition-timing-function: var(--fade-transition-timing-function);

  // animation: first-render-slide 0.6s;

  &.app-bar--filled {
    background-color: var(--primary-bg-color);
  }

  &.app-bar--hidden {
    transform: translateY(-100%);
  }
}

// @keyframes first-render-slide {
//   0% {
//     transform: translate(-50%, -100%);
//   }
//   100% {
//     transform: translate(-50%, 0);
//   }
// }

.app-bar__container {
  height: 100%;

  .app-bar--filled & {
    @include noise-bg;
  }
}

.app-bar__content {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: to-rem(14);
}

.app-bar__logo {
  display: inline-flex;
  height: to-rem(24);
  flex-shrink: 0;
  margin-right: to-rem(68);
  color: var(--app-bar-logo-color);

  &:hover {
    color: var(--app-bar-logo-color);
  }
}

.app-bar__logo-img {
  height: 100%;
  width: auto;
}

.app-bar__nav-list {
  display: flex;
  align-items: center;
}

.app-bar__nav-item {
  color: var(--primary-text-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--primary-title-color);
    }
  }

  &:not(:last-child) {
    margin-right: to-rem(32);
  }
}

.app-bar__links-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.app-bar__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--primary-title-color);
    }
  }

  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}

.app-bar__link-icon {
  margin-left: to-rem(8);
  transform: rotate(-45deg);
}

.app-bar__sidebar-btn {
  margin-left: auto;
}
