.app-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: to-rem(184);
  flex-grow: 1;
  padding: to-rem(12) to-rem(10);
  border: to-rem(2) solid var(--app-link-border-color);
  color: var(--app-link-text);
  background-color: transparent;
  box-shadow: none;
  font-size: to-rem(16);
  line-height: 1.25;
  font-weight: 700;
  user-select: none;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  &:hover,
  &:focus-visible {
    color: var(--app-link-text-hover);
    background-color: var(--app-link-border-color-hover);
    border-top-color: var(--app-link-border-color-hover);
    border-right-color: var(--app-link-border-color-hover);
    border-left-color: var(--primary-bg-color);
    border-bottom-color: var(--primary-bg-color);
    box-shadow: -#{to-rem(5)} to-rem(5) 0 -#{to-rem(3)}
      var(--app-link-border-color-hover);
  }
}

.primary-bg {
  --app-link-border-color: var(--col-total-black);
  --app-link-border-color-hover: var(--col-total-black);
  --app-link-text: var(--col-total-black);
  --app-link-text-hover: var(--col-turquoise-pearl);

  .app-link {
    &:hover,
    &:focus-visible {
      color: var(--app-link-text-hover);
      background-color: var(--app-link-border-color-hover);
      border-top-color: var(--app-link-border-color-hover);
      border-right-color: var(--app-link-border-color-hover);
      border-left-color: var(--col-turquoise-pearl);
      border-bottom-color: var(--col-turquoise-pearl);
      box-shadow: -#{to-rem(5)} to-rem(5) 0 -#{to-rem(3)}
        var(--app-link-border-color-hover);
    }
  }
}
