.base-card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(16);

  @include respond-above(md) {
    grid-template-columns: repeat(auto-fit, minmax(to-rem(300), 1fr));
    grid-gap: to-rem(24);
  }
}

.base-card-list__card {
  padding: to-rem(24);
  background-color: var(--base-card-bg);
  box-shadow: -#{to-rem(5)} to-rem(5) 0 -#{to-rem(3)}
    var(--base-card-shadow-color);
  transition-property: background-color, box-shadow;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @include respond-above(xm) {
    padding: to-rem(40);
  }
}
