.blockchains-list__title {
  margin-bottom: to-rem(40);
}

.blockchains-list__list-wrapper {
  overflow: hidden;
  user-select: none;

  .swiper-slide {
    width: auto;
  }
}

.blockchains-list__list {
  display: flex;
  align-items: center;
}

.blockchains-list__item {
  display: flex;
  align-items: center;
  color: var(--primary-title-color);
  font-weight: 500;
}

.blockchains-list__item-icon {
  margin-right: to-rem(16);
  width: to-rem(32);
}

.blockchains-list__item-image {
  object-fit: contain;
  filter: var(--blockchains-list-image-filter);
  transition-property: filter;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}
