.community-section {
  padding-top: to-rem(90);
  padding-bottom: to-rem(64);

  @include respond-above(xm) {
    padding-top: to-rem(200);
    padding-bottom: to-rem(200);
  }
}

.community-section__titles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.community-section__title {
  margin-bottom: to-rem(16);
  letter-spacing: -0.04em;

  @include respond-above(xm) {
    letter-spacing: -0.02em;
  }
}

.community-section__description {
  max-width: to-rem(530);
  margin-bottom: to-rem(40);
  font-size: to-rem(18);

  @include respond-above(xm) {
    max-width: to-rem(680);
    margin-bottom: to-rem(32);
    font-size: to-rem(24);
  }
}

.community-section__links-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: to-rem(48);

  @include respond-above(xm) {
    margin-bottom: to-rem(80);
  }
}

.community-section__link {
  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}

.community-section__card {
  &.community-section__card {
    padding: 0;
  }
}

.community-section__card-link {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-gap: to-rem(8) to-rem(24);
  padding: to-rem(24);

  &:hover {
    color: var(--primary-text-color);
  }

  @include respond-above(xm) {
    grid-gap: to-rem(8) to-rem(32);
    padding: to-rem(40);
  }
}

.community-section__card-title {
  position: relative;
  width: max-content;

  &:after {
    position: absolute;
    right: 0;
    bottom: -#{to-rem(2)};
    width: 0;
    height: to-rem(2);
    background-color: var(--primary-title-color);
    content: '';
    transition: width var(--medium-transition-duration)
      var(--slide-transition-timing-function);
  }

  .community-section__card-link:hover &,
  .community-section__card-link:focus-visible & {
    &:after {
      left: 0;
      width: 100%;
    }
  }
}

.community-section__card-icon {
  grid-row: span 2;
  height: to-rem(48);
  width: to-rem(48);
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: to-rem(1) solid var(--base-card-primary-icon-color);
  color: var(--base-card-primary-icon-color);
}

.community-section__learn-more-wrapper {
  display: inline-grid;
  grid-template-columns: max-content min-content;
  grid-column-gap: to-rem(8);
  align-items: center;
  line-height: 1.9;
  letter-spacing: 0.02em;
}

.community-section__learn-more-icon {
  padding: to-rem(1);
  transform: rotate(-90deg);

  .community-section__card-link:hover &,
  .community-section__card-link:focus-visible & {
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: rotate(-90deg) translateY(0);
  }
  20% {
    transform: rotate(-90deg) translateY(0.6em);
  }
  40% {
    transform: rotate(-90deg) translateY(0);
  }
}
