.hero-section {
  position: relative;
  padding-top: calc(var(--app-bar-height) + #{to-rem(40)});
  padding-bottom: max(15vmin, to-rem(64));
  display: flex;
  flex-direction: column;

  @extend %accent-bg-plh;

  @include respond-above(md) {
    padding-bottom: max(9vmin, to-rem(64));
    background-repeat: no-repeat;
    background-size: 30vmin;
    background-position: right center;
    background-image: url('/img/hero-section/decor-bg.png');
  }

  @include respond-above(xm) {
    padding-top: calc(var(--app-bar-height) + #{to-rem(72)});
    background-size: 65vmin;
  }
}

.hero-section__titles-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: to-rem(40);
}

.hero-section__title {
  margin-bottom: to-rem(16);
  letter-spacing: -0.04em;

  @include respond-above(xm) {
    font-size: 5em;
  }
}

.hero-section__subtitle {
  display: flex;
  order: -1;
  margin-bottom: to-rem(16);
  letter-spacing: -0.02em;

  @include respond-above(xm) {
    font-size: 1.75em;
  }
}

.hero-section__description {
  max-width: to-rem(500);
  font-size: 1.125em;

  @include respond-above(xm) {
    max-width: to-rem(710);
    font-size: 1.5em;
  }
}

.hero-section__links-wrapper {
  display: flex;
  margin-bottom: to-rem(112);
}

.hero-section__link {
  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}
