html,
.scrollbar {
  scrollbar-color: var(--primary-text-color) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: to-rem(6);
  height: to-rem(6);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
  border-radius: to-rem(3);
  transition-property: background-color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}
