.blockchains-swiper {
  overflow: hidden;

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: auto;
  }
}

.user-cases-swiper {
  overflow: hidden;

  .swiper-slide {
    height: auto;
  }
}
