.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: to-rem(40);
  height: to-rem(40);
  background-color: var(--theme-switcher-bg);
  border: to-rem(1) solid var(--theme-switcher-color);
  border-radius: 50%;
  color: var(--theme-switcher-color);
  cursor: pointer;
  transition-property: color, background-color, filter;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      // border-color: var(--col-total-white);
      filter: invert(1);
    }
  }
}

.theme-switcher__moon {
  display: none;

  .theme-switcher--light & {
    display: block;
  }
}

.theme-switcher__sun {
  display: none;

  .theme-switcher--dark & {
    display: block;
  }
}
