.user-cases-section {
  padding-top: to-rem(64);
  padding-bottom: min(20vmin, to-rem(100));

  @include respond-above(xm) {
    padding-top: min(10vmin, to-rem(90));
  }
}

.user-cases-section__title {
  margin-bottom: to-rem(16);
}

.user-cases-section__subtitle {
  margin-bottom: to-rem(40);
  font-size: 1.125em;

  @include respond-above(xm) {
    margin-bottom: 6%;
    margin-bottom: max(4vw, to-rem(56));
    font-size: 1.33em;
  }
}

.user-cases-section__card-list {
  display: flex;
  align-items: stretch;
  user-select: none;

  // Increase specifity
  &.user-cases-section__card-list.user-cases-section__card-list {
    margin-bottom: to-rem(48);

    @include respond-above(md) {
      margin-bottom: 8%;
    }
  }
}

.user-cases-section__card {
  // width: 100%;
  // min-width: to-rem(315);
  padding: to-rem(32) to-rem(24);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

  @extend %accent-bg-plh;

  &--nft-settlement {
    background-image: url('/img/user-cases-section/nft-settlement-bg.jpg');
  }

  &--asset-verification {
    background-image: url('/img/user-cases-section/asset-verification-bg.jpg');
  }

  &--borrowing {
    background-image: url('/img/user-cases-section/borrowing-bg.jpg');
  }

  &--airdrop {
    background-image: url('/img/user-cases-section/airdrop-bg.jpg');
  }

  &--staking {
    background-image: url('/img/user-cases-section/staking-bg.jpg');
  }

  &--share {
    background-image: url('/img/user-cases-section/share-bg.jpg');
  }

  @include respond-above(xm) {
    // min-width: max(calc(100% / 3 - 1.6%), to-rem(315));
    // margin-right: to-rem(24);
    // margin-right: 1.6%;
    padding: 3.5% 2%;
  }
}

.user-cases-section__card-img {
  // width: to-rem(220);
  height: to-rem(150);
  // max-width: 75%;
  // margin-bottom: to-rem(40);
  margin-bottom: 10%;
  object-fit: contain;

  @include respond-above(xm) {
    height: to-rem(160);
    // width: to-rem(300);
  }

  @include respond-above(lg) {
    height: to-rem(180);
  }
}

.user-cases-section__card-title {
  margin-bottom: to-rem(16);
}

.user-cases-section__card-text {
  letter-spacing: 0.02em;

  @include respond-above(xm) {
    @include respond-to(lg) {
      letter-spacing: 0.01em;
    }
  }
}

.user-cases-section__card-link {
  margin-top: to-rem(32);
}
