.nft-checkout-block-animation-section{
  width: 80%;
  //height: 80%;
  margin: auto;
  height: to-rem(340);

}

.nft-checkout-block-animation-section__swipe-container{
  height: 100%;
}

.nft-checkout-block-animation-section__lottie-wrapper-first{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.nft-checkout-block-animation-section__lottie-wrapper-two{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.nft-checkout-block-animation-section__lottie-wrapper-third{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.nft-checkout-block-animation-section__lottie-wrapper-four{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
