.how-it-works-section {
  padding-top: to-rem(100);
  padding-bottom: to-rem(100);
}

.how-it-works-section__chart-wrapper {
  position: relative;
}

.how-it-works-section__chart {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, auto);
  grid-gap: to-rem(44) to-rem(20);
  color: var(--primary-title-color);
  font-size: to-rem(18);
  line-height: 1.66;
  letter-spacing: -0.02em;
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}

.how-it-works-section__chart-item {
  max-width: to-rem(245);
  min-height: to-rem(62);
  display: grid;
  place-items: center;
  padding: to-rem(14) to-rem(24);
  border: to-rem(2) solid transparent;
  background-color: var(--how-it-works-chart-bg-color);
  text-align: center;
  transition: background-color var(--medium-transition-duration)
    var(--hover-transition-timing-function);

  .how-it-works-section__chart--animated & {
    animation: border-color 0.8s linear forwards;
  }

  &:nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 1;
    animation-delay: 0.2s;
  }
  &:nth-child(2) {
    grid-column-start: 3;
    grid-row-start: 2;
    animation-delay: 1.8s;
  }
  &:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
    animation-delay: 5.4s;
  }
  &:nth-child(4) {
    justify-self: flex-start;
    max-width: to-rem(182);
    grid-column-start: 4;
    grid-row-start: 3;
    animation-delay: 10s;
  }
  &:nth-child(5) {
    justify-self: flex-end;
    max-width: to-rem(198);
    grid-column-start: 5;
    grid-row-start: 4;
    animation-delay: 12.7s;
  }
  &:nth-child(6) {
    justify-self: flex-end;
    max-width: to-rem(198);
    grid-column-start: 5;
    grid-row-start: 5;
    animation-delay: 14s;
  }
  &:nth-child(7) {
    grid-column-start: 2;
    grid-row-start: 5;
    animation-delay: 18.3s;
  }
}

@keyframes border-color {
  to {
    border-color: var(--how-it-works-chart-border-color);
  }
}
