.how-it-works-section {
  padding-top: to-rem(100);
  margin-bottom: to-rem(100);
  overflow-x: visible;
}

.how-it-works-section__title {
  margin-bottom: to-rem(40);
  text-align: center;

  @include respond-above(xm) {
    margin-bottom: to-rem(80);
  }
}

%grid-item {
  min-height: to-rem(62);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: to-rem(14) to-rem(24);
  text-align: center;
}

.how-it-works-section__chart-wrapper {
  position: relative;
  width: var(--how-it-works-chart-default-width);
  transform-origin: top left;
}

.how-it-works-section__chart {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, auto);
  grid-gap: to-rem(44) to-rem(20);
  color: var(--primary-title-color);
  font-size: to-rem(18);
  line-height: 1.66;
  letter-spacing: -0.02em;
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}

.how-it-works-section__chart-group {
  @extend %grid-item;

  width: 100%;
  margin-bottom: to-rem(36);
  color: var(--col-total-black);
  font-weight: 500;
  background-image: url('/img/nft-settlement-page/chart-group-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.how-it-works-section__group-icon {
  margin-right: to-rem(16);
}

.how-it-works-section__chart-item {
  @extend %grid-item;

  max-width: to-rem(245);
  border: to-rem(2) solid transparent;
  background-color: var(--how-it-works-chart-bg-color);
  transition: background-color var(--medium-transition-duration)
    var(--hover-transition-timing-function);
  animation: border-color 0.8s linear forwards;

  .how-it-works-section__chart--paused & {
    animation-play-state: paused;
  }

  &.how-it-works-section__chart-item--first {
    grid-column-start: 2;
    grid-row-start: 2;
    animation-delay: 0.2s;
  }
  &.how-it-works-section__chart-item--second {
    grid-column-start: 3;
    grid-row-start: 3;
    animation-delay: 1.8s;
  }
  &.how-it-works-section__chart-item--third {
    grid-column-start: 1;
    grid-row-start: 4;
    animation-delay: 5.4s;
  }
  &.how-it-works-section__chart-item--fourth {
    justify-self: flex-start;
    max-width: to-rem(182);
    grid-column-start: 4;
    grid-row-start: 4;
    animation-delay: 10s;
  }
  &.how-it-works-section__chart-item--fifth {
    justify-self: flex-end;
    max-width: to-rem(198);
    grid-column-start: 5;
    grid-row-start: 5;
    animation-delay: 12.8s;
  }
  &.how-it-works-section__chart-item--sixth {
    justify-self: flex-end;
    max-width: to-rem(198);
    grid-column-start: 5;
    grid-row-start: 6;
    animation-delay: 14.1s;
  }
  &.how-it-works-section__chart-item--seventh {
    grid-column-start: 2;
    grid-row-start: 6;
    animation-delay: 18.4s;
  }
}

@keyframes border-color {
  to {
    border-color: var(--how-it-works-chart-border-color);
  }
}
