.how-it-works-section {
  padding-top: to-rem(100);
  padding-bottom: to-rem(100);
}

.how-it-works-section__chart-wrapper {
  position: relative;
}

.how-it-works-section__chart {
  opacity: 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, minmax(to-rem(62), to-rem(92)));
  grid-gap: to-rem(44) to-rem(20);
  color: var(--primary-title-color);
  font-size: to-rem(18);
  line-height: 1.66;
  letter-spacing: -0.02em;
}

.how-it-works-section__chart-item {
  min-height: to-rem(62);
  display: grid;
  place-items: center;
  padding: to-rem(14) to-rem(24);
  border: to-rem(2) solid var(--how-it-works-chart-border-color);
  background-color: var(--how-it-works-chart-bg-color);
  text-align: center;

  &:nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  &:nth-child(2) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  &:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  &:nth-child(4) {
    grid-column-start: 4;
    grid-row-start: 3;
  }
  &:nth-child(5) {
    grid-column-start: 5;
    grid-row-start: 4;
  }
  &:nth-child(6) {
    grid-column-start: 5;
    grid-row-start: 5;
  }
  &:nth-child(7) {
    grid-column-start: 2;
    grid-row-start: 5;
  }
}

.how-it-works-section__chart-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.how-it-works-section__chart-line {
  stroke: var(--col-silverpine-cyan);
  stroke-width: to-rem(2);
}

.svg-1 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: 951;
  stroke-dashoffset: 0;

  &--animation {
    animation: dash1 5s linear forwards;
  }
}

@keyframes dash1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 951;
  }
}

.svg-2 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: 834;
  stroke-dashoffset: 834;

  &--animation {
    animation: dash2 5s linear forwards;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 834;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-3 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: 224;
  stroke-dashoffset: 224;

  &--animation {
    animation: dash3 2s linear forwards;
  }
}

@keyframes dash3 {
  from {
    stroke-dashoffset: 224;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-4 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: 938;
  stroke-dashoffset: 0;

  &--animation {
    animation: dash4 5s linear forwards;
  }
}

@keyframes dash4 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 938;
  }
}

.grey {
  stroke: grey;
  stroke-width: to-rem(2);
}
