.community-section {
  min-height: calc(100vh - var(--app-footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: to-rem(64);
  padding-bottom: to-rem(64);
}

.community-section__titles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.community-section__title {
  margin-bottom: max(2vw, to-rem(16));
  letter-spacing: -0.04em;

  @include respond-above(xm) {
    letter-spacing: -0.02em;
  }
}

.community-section__description {
  max-width: to-rem(530);
  margin-bottom: max(3vw, to-rem(40));
  font-size: 1.33em;

  @include respond-above(xm) {
    max-width: to-rem(680);
  }
}

.community-section__links-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: max(5vw, to-rem(48));

  .community-section--testnet & {
    margin-bottom: max(15vw, to-rem(130));
  }
}

.community-section__link {
  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}

.community-section__card {
  .base-card-list__card {
    padding: 0;
  }
}

.community-section__card-link {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-gap: to-rem(8) to-rem(24);
  padding: to-rem(24);

  &:hover {
    color: var(--primary-text-color);
  }

  @include respond-above(xm) {
    grid-gap: to-rem(8) to-rem(32);
    padding: to-rem(40);
  }
}

.community-section__card-title {
  position: relative;
  width: max-content;

  &:after {
    position: absolute;
    right: 0;
    bottom: -#{to-rem(2)};
    width: 0;
    height: to-rem(1);
    background-color: var(--primary-title-color);
    content: '';
    transition: width var(--medium-transition-duration)
      var(--slide-transition-timing-function);
  }

  @media all and (hover: hover) {
    .community-section__card-link--active:hover &,
    .community-section__card-link--active:focus-visible & {
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.community-section__card-icon {
  grid-row: span 2;
  height: to-rem(48);
  width: to-rem(48);
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: to-rem(1) solid var(--base-card-primary-icon-color);
  color: var(--base-card-primary-icon-color);
}

.community-section__learn-more-wrapper {
  display: inline-grid;
  grid-template-columns: max-content min-content;
  grid-column-gap: to-rem(8);
  align-items: center;
  line-height: 1.9;
  letter-spacing: 0.02em;
}

.community-section__learn-more-icon {
  padding: to-rem(1);
  transform: rotate(-90deg);

  @media all and (hover: hover) {
    .community-section__card-link--active:hover &,
    .community-section__card-link--active:focus-visible & {
      animation: bounce 2s infinite;
    }
  }
}

@keyframes bounce {
  0% {
    transform: rotate(-90deg) translateY(0);
  }
  20% {
    transform: rotate(-90deg) translateY(0.6em);
  }
  40% {
    transform: rotate(-90deg) translateY(0);
  }
}
