.community-section {
  padding-top: to-rem(136);
  padding-bottom: to-rem(136);
}

.community-section__content {
  @include respond-above(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: to-rem(40);
  }
}

.community-section__titles-wrapper {
  max-width: to-rem(510);
  margin-right: auto;
  margin-bottom: to-rem(40);
  margin-left: auto;
  text-align: center;

  @include respond-above(md) {
    margin: 0;
    text-align: left;
  }
}

.community-section__title {
  margin-bottom: to-rem(32);
  text-transform: capitalize;
}

.community-section__description {
  font-size: to-rem(20);
  margin-bottom: to-rem(48);
  letter-spacing: 0.02em;
}

.community-section__links-wrapper {
  width: 100%;

  @include respond-above(sm) {
    display: flex;
    justify-content: center;
  }

  @include respond-above(md) {
    justify-content: flex-start;
  }
}

.community-section__link {
  width: 100%;
  max-width: to-rem(300);

  &:not(:last-child) {
    margin-bottom: to-rem(16);
  }

  @include respond-above(sm) {
    width: auto;
    max-width: to-rem(210);

    &:not(:last-child) {
      margin-right: to-rem(16);
      margin-bottom: 0;
    }
  }
}

.community-section__link-icon {
  margin-left: to-rem(8);
}

.community-section__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(16);

  @include respond-above(sm) {
    @include respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.comunity-section__list-item {
  height: 100%;
  min-height: to-rem(116);
  display: flex;
  align-items: center;
  border: to-rem(1) solid var(--primary-border-color);
}

.community-section__list-item-link {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-gap: to-rem(24);
  padding: 0 to-rem(24);

  @include respond-above(sm) {
    display: flex;
    flex-direction: column;
    padding: to-rem(24);
    text-align: center;
  }

  @include respond-above(md) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: to-rem(32);
    padding: 0 to-rem(32);
    text-align: left;
  }
}

.community-section__list-item-icon {
  color: var(--primary-title-color);
}

.community-section__list-item-title {
  position: relative;
  width: max-content;
  margin-bottom: to-rem(8);

  @include respond-above(sm) {
    margin-right: auto;
    margin-left: auto;
  }

  @include respond-above(md) {
    margin-right: 0;
    margin-left: 0;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: -#{to-rem(2)};
    width: 0;
    height: to-rem(1);
    background-color: currentColor;
    content: '';
    transition: width var(--medium-transition-duration)
      var(--slide-transition-timing-function);
  }

  @media all and (hover: hover) {
    .community-section__list-item-link--active:hover &,
    .community-section__list-item-link--active:focus-visible & {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.community-section__arrow-icon {
  transform: rotate(-45deg);

  @include respond-above(sm) {
    display: none;
  }

  @include respond-above(md) {
    display: block;
  }
}
