.testnet-desc-section {
  min-height: min(100vh, to-rem(500));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: to-rem(100);
  padding-bottom: to-rem(80);
  text-align: center;

  @include respond-above(xm) {
    padding-top: to-rem(180);
    padding-bottom: to-rem(180);
  }
}

.testnet-desc-section__title {
  margin-bottom: to-rem(40);
  font-size: to-rem(24);
  letter-spacing: -0.02em;

  @include respond-above(xm) {
    font-size: 1.5em;
  }

  @include respond-above(lg) {
    font-size: to-rem(28);
  }
}

.testnet-desc-section__description {
  margin-bottom: to-rem(150);
  font-size: to-rem(18);

  @include respond-above(xm) {
    max-width: min(80%, #{to-rem(1114)});
    font-size: 1.25em;
  }

  @include respond-above(lg) {
    font-size: to-rem(24);
  }
}

.testnet-desc-section__feedback {
  font-size: to-rem(24);
  letter-spacing: -0.02em;

  @include respond-above(xm) {
    font-size: 1.5em;
  }

  @include respond-above(lg) {
    font-size: to-rem(28);
  }
}

.testnet-desc-section__discord-link {
  position: relative;
  white-space: nowrap;

  &:after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -#{to-rem(2)};
    width: 100%;
    height: to-rem(1);
    background-color: var(--primary-title-color);
    content: '';
  }
}
