.nft-checkout-hero-section {
  background-image: linear-gradient(
    180deg,
    rgba(var(--col-primary-black-rgb), 0%),
    var(--col-primary-black) 100%
  );

  @include noise-bg;
}

.nft-checkout-hero-section__content {
  max-width: to-rem(360);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: to-rem(95);
  padding-bottom: to-rem(30);
  text-align: center;

  @include respond-above(medium) {
    max-width: var(--container-max-width);
    align-items: flex-start;
    padding-top: to-rem(226);
    padding-bottom: to-rem(140);
    text-align: left;
  }
}

.nft-checkout-hero-section__title {
  margin-bottom: to-rem(24);
  overflow: hidden;
  white-space: break-spaces;
  text-transform: uppercase;

  @include respond-above(medium) {
    margin-bottom: to-rem(32);
    font-size: to-rem(68);
  }

  @include respond-above(xmedium) {
    font-size: to-rem(80);
  }

  @include respond-above(large) {
    font-size: to-rem(100);
  }
}

.nft-checkout-hero-section__description {
  margin-bottom: to-rem(40);
  font-size: to-rem(16);
  letter-spacing: 0.02em;

  @include respond-above(medium) {
    max-width: to-rem(400);
    margin-bottom: to-rem(48);
  }

  @include respond-above(xmedium) {
    max-width: to-rem(480);
    font-size: to-rem(18);
  }

  @include respond-above(large) {
    max-width: to-rem(530);
    font-size: to-rem(20);
  }
}

.nft-checkout-hero-section__links-wrapper {
  width: 100%;
  margin-bottom: to-rem(40);

  @include respond-above(medium) {
    display: flex;
    justify-content: flex-start;
  }
}

.nft-checkout-hero-section__link {
  &.nft-checkout-hero-section {
    @include respond-to(medium) {
      max-width: unset;
    }

    &:not(:last-child) {
      margin-bottom: to-rem(16);

      @include respond-above(medium) {
        margin-right: to-rem(16);
        margin-bottom: 0;
      }
    }
  }
}

.nft-checkout-hero-section__link-icon {
  margin-left: to-rem(8);
}

.nft-checkout-hero-section__blockchains {
  margin-bottom: to-rem(40);
}

.nft-checkout-hero-section__square-one {
  position: absolute;
  top: 21.5%;
  right: 10%;
  width: to-rem(133);
  height: to-rem(68);
  background-color: var(--col-sagittarius-amber);
  transition: transform var(--fast-transition-duration) linear;
  will-change: transform;
  pointer-events: none;

  @include respond-to(medium) {
    display: none;
  }
}

.nft-checkout-hero-section__square-two {
  position: absolute;
  top: 45%;
  right: calc(var(--container-side-padding) - 3.5%);
  height: to-rem(66);
  width: to-rem(66);
  background-color: var(--col-primary-accent-main);
  transition: transform var(--fast-transition-duration) linear;
  will-change: transform;
  pointer-events: none;

  @include respond-to(medium) {
    display: none;
  }
}

.nft-checkout-hero-section__bg-rect-backdrop,
.nft-checkout-hero-section__spotlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.nft-checkout-hero-section__bg-rect-backdrop {
  @include bg-rect;

  z-index: var(--z-hidden);
}

.nft-checkout-hero-section__spotlight {
  display: none;

  @media all and (hover: hover) {
    display: block;
    z-index: var(--z-hidden);
    opacity: 0.6;
    background-image: radial-gradient(
      circle at 0 0,
      transparent to-rem(80),
      rgba(var(--col-total-black-rgb), 0.8) to-rem(200)
    );
    background-color: rgba(var(--col-primary-black-rgb), 0.6);
  }
}
