.nft-checkout-hero-section {
  @include bg-rect;
}

.nft-checkout-hero-section__inner {
  background-image: linear-gradient(
    180deg,
    rgba(var(--col-primary-black-rgb), 0%),
    var(--col-primary-black) 60%,
    var(--col-primary-black) 61%
  );

  @include noise-bg;
}

.nft-checkout-hero-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: to-rem(254);
  padding-bottom: to-rem(140);
  text-align: center;

  @include respond-above(md) {
    align-items: flex-start;
    text-align: left;
  }
}

.nft-checkout-hero-section__title {
  margin-bottom: to-rem(32);
  font-size: to-rem(100);
  overflow: hidden;
  white-space: break-spaces;
  text-transform: uppercase;
}

.nft-checkout-hero-section__description {
  max-width: to-rem(530);
  margin-bottom: to-rem(48);
  font-size: to-rem(20);
  letter-spacing: 0.02em;
}

.nft-checkout-hero-section__links-wrapper {
  width: 100%;

  @include respond-above(sm) {
    display: flex;
    justify-content: center;
  }

  @include respond-above(md) {
    justify-content: flex-start;
  }
}

.nft-checkout-hero-section__link {
  &:not(:last-child) {
    margin-bottom: to-rem(18);
  }

  @include respond-above(sm) {
    width: auto;
    max-width: to-rem(238);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.nft-checkout-hero-section__link-icon {
  margin-left: to-rem(8);
}

.nft-checkout-hero-section__blockchains {
  margin-bottom: to-rem(48);
}
