.rollup-section {
  margin-top: to-rem(84);

  @include respond-above(medium) {
    margin-top: to-rem(57);
  }
}

.rollup-section__text {
  margin-top: to-rem(16);
  color: var(--col-white-text-alpha);
  font-size: to-rem(14);

  @include respond-above(medium) {
    font-size: to-rem(18);
    line-height: to-rem(24);
  }
}

.rollup-section__content {
  margin-top: to-rem(32);
  width: 100%;

  @include respond-above(medium) {
    margin-top: to-rem(72);
  }
}

.rollup-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}
