.app-button {
  font-family: var(--primary-font-family);
  position: relative;
  z-index: var(--z-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: to-rem(56);
  width: 100%;
  max-width: to-rem(208);
  flex-grow: 1;
  padding: 0 to-rem(10);
  color: var(--primary-btn-color);
  background-color: transparent;
  box-shadow: none;
  font-size: to-rem(14);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.04em;
  user-select: none;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: color, background-color, border;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @include respond-above(medium) {
    @include respond-to(large) {
      min-height: to-rem(48);
    }
  }
}

.app-button__content {
  position: relative;
  z-index: var(--z-default);
  display: inline-flex;
  align-items: center;
}

.app-button--primary {
  background-color: var(--col-primary-accent-main);
  color: var(--col-primary-black);

  @include mobile-hover {
    &:not(:disabled) {
      color: var(--col-primary-black);
    }
  }

  @include hover {
    &:not(:disabled) {
      background-color: var(--col-primary-accent-dark);
      color: var(--col-primary-black);
    }
  }
}

.app-button--secondary {
  border: #{to-rem(1)} solid var(--col-white-alpha);
  color: var(--col-white-alpha);

  @include mobile-hover {
    &:not(:disabled) {
      color: var(--col-white-alpha);
    }
  }

  @include hover {
    &:not(:disabled) {
      border-color: var(--col-primary-grey);
      color: var(--col-primary-grey);
    }
  }
}

.app-button--text {
  min-height: unset;
  padding: 0;
  color: var(--col-primary-grey);

  @include hover {
    &:not(:disabled) {
      color: var(--col-white-alpha);
    }
  }
}
