.app-button {
  position: relative;
  z-index: var(--z-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: to-rem(48);
  width: 100%;
  max-width: to-rem(194);
  flex-grow: 1;
  padding: 0 to-rem(10);
  color: var(--primary-btn-color);
  background-color: transparent;
  box-shadow: none;
  font-size: to-rem(16);
  line-height: 1.2;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @include respond-above(lg) {
    min-height: to-rem(56);
    font-size: to-rem(18);
  }
}

.app-button__content {
  position: relative;
  z-index: var(--z-default);
  display: inline-flex;
  align-items: center;
}

.app-button--primary {
  background-color: var(--col-primary-accent-main);
  color: var(--col-primary-black);

  @include hover {
    background-color: var(--col-primary-accent-dark);
    color: var(--col-primary-black);
  }
}

.app-button--secondary {
  @include hover {
    color: var(--col-primary-grey);
  }
}
