.how-it-works-chart-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-hidden);
}

.how-it-works-chart-mobile__front-line {
  stroke: var(--col-silverpine-cyan);
  stroke-dasharray: 1001;
  stroke-dashoffset: 1001;

  .how-it-works-chart-mobile--paused & {
    animation-play-state: paused;
  }

  &--animation {
    animation: dash 12s linear forwards;
  }
}

.how-it-works-chart-mobile__back-line {
  stroke: var(--how-it-works-chart-back-line-col);
}

.how-it-works-chart-mobile__line-path {
  fill: transparent;
  stroke-width: to-rem(2);
  stroke-linejoin: round;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1001;
  }
  to {
    stroke-dashoffset: 0;
  }
}
