.backers-section {
  padding-top: to-rem(50);
  padding-bottom: to-rem(50);

  @include respond-above(medium) {
    padding-top: to-rem(160);
    padding-bottom: to-rem(160);
  }
}

.backers-section__title {
  margin-bottom: to-rem(40);
  text-transform: uppercase;

  @include respond-above(medium) {
    margin-bottom: to-rem(64);
  }
}

.backers-section__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: to-rem(24);
  place-items: center;
  align-content: center;
  justify-content: space-between;
  grid-gap: to-rem(40);

  @include respond-above(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-above(medium) {
    grid-template-columns: repeat(auto-fit, minmax(#{to-rem(62)}, auto));
  }
}

.backers-section__list-item {
  height: 100%;
  display: flex;
  align-items: center;

  &--opacity {
    opacity: 0.4;
  }
}

.backers-section__item-image {
  height: 100%;
  width: auto;
  object-fit: contain;
}
