.backers-section {
  padding-top: to-rem(84);
  padding-bottom: to-rem(84);
  text-align: center;

  @include respond-above(medium) {
    padding-top: to-rem(124);
    padding-bottom: to-rem(124);
  }
}

.backers-section__title {
  margin-bottom: to-rem(24);
  text-transform: uppercase;
  font-size: to-rem(12);
  line-height: to-rem(16);
  letter-spacing: 0.04em;
  font-weight: 700;
  color: var(--col-primary-grey);
}

.backers-section__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: to-rem(24);
  column-gap: to-rem(48);
  
  @include respond-above(medium) {
    padding: 0 to-rem(148);
  }
}

.backers-section__item {
  height: var(--backer-logo-height);
}
