[data-theme='dark'] {
  --primary-bg-color: var(--col-total-black);
  --primary-title-color: var(--col-total-white);
  --primary-text-color: rgba(#{$col-total-white-rgb}, 64%);

  --primary-btn-color: var(--col-total-white);
  --primary-divider-color: var(--col-total-black);

  // Experience section
  --experience-card-bg: #{$col-gluon-grey};
  --experience-card-shadow-color: rgba(#{$col-ancient-ice-rgb}, 20%);
  --experience-card-icon-color: #{$col-tropical-green};

  .switcher__radio {
    filter: invert(1);
  }

  .switcher__radio:checked {
    filter: invert(0);
  }

  .switcher__status {
    filter: invert(1);
  }
}
