[color-scheme='dark'] {
  --primary-bg-color: var(--col-total-black);
  --primary-title-color: var(--col-total-white);
  --primary-text-color: rgba(#{$col-total-white-rgb}, 64%);
  --primary-divider-color: var(--col-total-black);

  // App link
  --app-link-border-color: var(--col-total-white);
  --app-link-border-color-hover: var(--col-tame-teal);
  --app-link-text: var(--col-total-white);
  --app-link-text-hover: var(--col-total-black);

  // Base card
  --base-card-bg: var(--col-gluon-grey);
  --base-card-shadow-color: #{$col-cool-current};
  --base-card-primary-icon-color: var(--col-tame-teal);

  // App footer
  --app-footer-border-color: rgba(#{$col-total-white-rgb}, 10%);
  --app-footer-link-bg: var(--col-gluon-grey);

  // Theme switcher
  --theme-switcher-bg: var(--col-total-white);
  --theme-switcher-color: var(--col-total-black);
}
