[color-scheme='light'] {
  --primary-bg-color: #{$col-distant-horizon};
  --primary-title-color: var(--col-total-black);
  --primary-text-color: rgba(#{$col-total-black-rgb}, 64%);
  --primary-border-color: var(--col-total-black);

  // App link
  --app-button-border-color: var(--col-total-black);

  // --app-button-border-color-hover: #{$col-mallorca-blue};
  --app-button-text: var(--col-total-black);
  --app-button-text-hover: var(--col-total-white);

  // Theme switcher
  --theme-switcher-bg: var(--col-total-black);
  --theme-switcher-color: var(--col-total-white);

  // How it works section
  --how-it-works-chart-border-color: var(--col-silverpine-cyan);
  --how-it-works-chart-bg-color: #{$col-total-white};

  // How it works chart
  --how-it-works-chart-back-line-col: color.adjust(
    $col-silverpine-cyan,
    $lightness: 14%
  );

  // --how-it-works-chart-group-hidden-bg: #{$col-graphite-black}; // FIXME
  --how-it-works-chart-guide-lines-bg: rgba(
    #{$col-turquoise-pearl-rgb},
    10%
  ); // FIXME
}
