[data-theme='light'] {
  --primary-bg-color: #{$col-distant-horizon};
  --primary-title-color: var(--col-total-black);
  --primary-text-color: rgba(#{$col-total-black-rgb}, 64%);

  --primary-btn-color: var(--col-total-white);
  --primary-divider-color: var(--col-total-black);

  // Experience section
  --experience-card-bg: var(--col-total-white);
  --experience-card-shadow-color: rgba(#{$col-ancient-ice-rgb}, 40%);
  --experience-card-icon-color: rgba(#{$col-turquoise-panic-rgb}, 30%);

  .switcher__radio {
    filter: invert(0);
  }

  .switcher__radio:checked {
    filter: invert(1);
  }

  .switcher__status {
    filter: invert(0);
  }
}
