[color-scheme='light'] {
  --primary-bg-color: #{$col-distant-horizon};
  --primary-title-color: var(--col-total-black);
  --primary-text-color: rgba(#{$col-total-black-rgb}, 64%);
  --primary-divider-color: var(--col-total-black);

  // App link
  --app-link-border-color: var(--col-total-black);
  --app-link-border-color-hover: #{$col-mallorca-blue};
  --app-link-text: var(--col-total-black);
  --app-link-text-hover: var(--col-total-white);

  // Base card
  --base-card-bg: var(--col-total-white);
  --base-card-shadow-color: rgba(#{$col-mallorca-blue-rgb}, 40%);
  --base-card-primary-icon-color: #{$col-mallorca-blue};

  // App footer
  --app-footer-border-color: rgba(#{$col-total-black-rgb}, 10%);
  --app-footer-link-bg: var(--col-total-white);

  // Theme switcher
  --theme-switcher-bg: var(--col-total-black);
  --theme-switcher-color: var(--col-total-white);

  // Partners list
  --partners-list-image-filter: invert(1);

  // How it works section
  --how-it-works-chart-border-color: var(--col-silverpine-cyan);
  --how-it-works-chart-bg-color: #{$col-total-white};

  // How it works chart
  --how-it-works-chart-back-line-col: #{lighten($col-silverpine-cyan, 14%)};
}
