$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-distant-horizon: #f1faf9;
$col-gluon-grey: #181b1c;

$col-ancient-ice: #73f7ff;
$col-ancient-ice-rgb: hex-to-rgb($col-ancient-ice);

$col-turquoise-panic: #30d5c8;
$col-turquoise-panic-rgb: hex-to-rgb($col-turquoise-panic);

$col-turquoise-pearl: #85f8ef;
$col-turquoise-pearl-rgb: hex-to-rgb($col-turquoise-pearl);
$col-tropical-green: #187d75;

$col-tame-teal: #bde5dc;
$col-cool-current: #2a3f46;

$col-honeydew-peel: #daff73;
$col-apocyan: #9ec5ff;
$col-pink-elephants: #ff9ef0;
$col-melon-sprinkle: #ffcd9e;
$col-california-lilac: #b5bfe1;
