$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-black-wash: #0d0d0d;
$col-black-wash-rgb: hex-to-rgb($col-black-wash);

$col-lead: #212121;
$col-lead-rgb: hex-to-rgb($col-lead);

$col-more-than-a-week: #8f8f8f;

$col-le-max: #8ab5a4;
$col-le-max-rgb: hex-to-rgb($col-le-max);

// Status colors
$col-vermilion-cinnabar: #e63946;

// Brand colors
$col-sunstitch: #fee1b7;
$col-sunstitch-rgb: hex-to-rgb($col-sunstitch);

$col-peach-bellini: #fedcae;
$col-peach-bellini-rgb: hex-to-rgb($col-peach-bellini);

$col-cantaloupe-slice: #feb475;
$col-cantaloupe-slice-rgb: hex-to-rgb($col-cantaloupe-slice);

$col-sagittarius-amber: #fb7c3f;
$col-sagittarius-amber-rgb: hex-to-rgb($col-sagittarius-amber);

$col-latigo-bay: #3a8b8f;
$col-latigo-bay-rgb: hex-to-rgb($col-latigo-bay);

// Old design colors
$col-gluon-grey: #181b1c;
$col-distant-horizon: #f1faf9;
$col-turquoise-pearl: #85f8ef;
$col-turquoise-pearl-rgb: hex-to-rgb($col-turquoise-pearl);
$col-silverpine-cyan: #91e9ff;
