@import 'vars';
@import 'spacing';

$grid-col-count: 12 !default;

@mixin grid-col($class:'lg') {
  $cols: 1;

  .#{$class}-0 {
    display: none;
  }

  @while $cols != $grid-col-count+1 {
    .#{$class}-#{$cols} {
      display: block;
      width: $cols * 100% / $grid-col-count;
    }
    $cols: $cols + 1;
  }
}

@mixin grid-col-offset($class:'lg') {
  $cols: 1;

  .#{$class}-offset-0 {
    margin-left: 0;
  }

  @while $cols != $grid-col-count+1 {
    .#{$class}-offset-#{$cols} {
      margin-left: $cols * 100% / $grid-col-count;
    }
    $cols: $cols + 1;
  }
}
