// this icon codes is a compilation of icommon.io css output.
// see /assets/fonts/icomoon-data.json, re-generate fonts
// or add new characters from icomoon to this file

// list of registered icons in the webfont font
$icons: (
  car-side-fill: "\e965",
  car-side: "\e94e",
  add-user-fill: "\e959",
  ban-user-fill: "\e95a",
  ban-user: "\e95b",
  cross-bold: "\e95c",
  minus-bold: "\e95d",
  pen-fill: "\e95e",
  pen: "\e925",
  plus-bold: "\e95f",
  remove-user-fill: "\e960",
  remove-user: "\e961",
  user-fill: "\e962",
  add-user: "\e900",
  arrow-left: "\e901",
  arrow-right: "\e902",
  arrow-up: "\e903",
  arrow-down: "\e948",
  success: "\e91d",
  close: "\e907",
  plus: "\e917",
  minus: "\e912",
  move: "\e957",
  call-back: "\e905",
  phone: "\e963",
  call: "\e906",
  phone-fill: "\e964",
  bot: "\e904",
  copy: "\e908",
  dropdown: "\e909",
  exclamation: "\e90a",
  eye: "\e90b",
  favourite: "\e90c",
  info: "\e90d",
  lock: "\e90e",
  make-a-bid: "\e90f",
  many-images: "\e910",
  message: "\e911",
  notifications: "\e913",
  photo-camera: "\e914",
  pin: "\e915",
  play: "\e916",
  question-mark: "\e918",
  search: "\e919",
  send: "\e91a",
  sort: "\e91b",
  stamp: "\e91c",
  timer: "\e91e",
  trash: "\e91f",
  type-pdf: "\e920",
  user: "\e921",
  video-camera: "\e922",
  buy-now: "\e923",
  id-card: "\e926",
  send-invoice: "\e927",
  rotate-right: "\e928",
  rotate-left: "\e929",
  archive: "\e92a",
  bell: "\e92b",
  filter-alt: "\e92c",
  gear: "\e92d",
  message-alt: "\e92e",
  money-sign: "\e92f",
  pen-and-brush: "\e930",
  refresh: "\e931",
  sign: "\e932",
  car-check: "\e933",
  car-inspect: "\e934",
  money-stack: "\e935",
  ship: "\e936",
  circle: "\e937",
  circle-full: "\e93d",
  document: "\e938",
  hands: "\e939",
  pin-alt: "\e93a",
  sand-clock: "\e93b",
  trash-alt: "\e93c",
  timer-alt: "\e93e",
  no-car: "\e93f",
  menu: "\e940",
  sign-out: "\e941",
  zoom-in: "\e942",
  zoom-out: "\e943",
  star-empty: "\e944",
  cloud-upload: "\e945",
  cloud-download: "\e946",
  link: "\e947",
  circle-a: "\e949",
  going-down: "\e94a",
  going-up: "\e94b",
  make-a-bid-alt: "\e94c",
  truck: "\e94d",
  car: "\e94f",
  dots: "\e950",
  dots-v: "\e966",
  globe: "\e951",
  calendar-fill: "\e952",
  pin-alt-full: "\e953",
  color-fill: "\e954",
  info-alt: "\e955",
  money-withdraw: "\e956",
  bell-fill: "\e958",
  pie-chart: "\e967",
  grid-menu: "\e968",
  car-check-2: "\e969",
  gear-bold: "\e96a",
  yaw-arrows: "\e96b",
  sign-out-2: "\e96c",
  logo-fb: "\e96d",
  logo-instagram: "\e96e",
  logo-telegram: "\e96f",
  logo-twitter: "\e970",
  logo-youtube: "\e924",
  filters-menu: "\e971",
  fuel: "\e972",
  gears: "\e973",
  location: "\e975",
  odometer: "\e976",
  transmission: "\e977",
  wheel: "\e978",
  call-back-2: "\e974",
  eye-on: "\e979",
  eye-off: "\e97a",
  mobile: "\e97b",
  check-circle: "\e97c",
  sound: "\e97e",
  sound-off: "\e97d",
  calculator: "\e97f",
  share: "\e980",
  handshake: "\e981",
  layout-grid: "\e982",
  layout-list: "\e983",
  arrow-up-right: "\e984",
  corners: "\e985",
  incoming-call: "\e986",
  money: "\e987",
  wallet: "\e988",
  shield-check: "\e989",
  arrow-right-alt: "\e98a",
  sign-out-alt: "\e98b",
  time-left: "\e98c",
  logo-li: "\e98d",
  cloud-upload-2: "\e98e",
) !default;
