// Basic metrics for ui elements wrapper.
$layout-line-height: 2.5em !default;
$layout-ui-font-size: 16px !default;

// Basic font used for all components
$layout-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
  sans-serif !default;

// Basic border radius for inputs.
$layout-border-radius: 1.25em !default;

// Alternative border radius for buttons.
$layout-border-radius-alt: 3px !default;

$layout-z-modal: 9999 !default;
$layout-z-overlay: 5000 !default;
$layout-z-navigation: 2000 !default;
$layout-z-local-hight: 100 !default;
$layout-z-local: 1 !default;

// Basic flags palette
$color-flag-is-required: #ff872f !default;
$color-flag-is-disabled: #ddd !default;
$color-flag-is-error: #ff4089 !default;
$color-flag-is-success: #46c725 !default;

// Low-level palette
$color-black: #000 !default;

$color-dark: #231f20 !default;
$color-dark-grey: #969696 !default;
$color-grey: #9498a6 !default;
$color-light-grey: #bbbfcd !default;
$color-light: #f2f2f2 !default;

$color-white: #fff !default;

$color-ui-bg: #fff !default;

//  Main colors for different look/fill values.
$color-ui-default: #231f20 !default;
$color-ui-default-border: $color-ui-default !default;
$color-ui-default-contrast: $color-light !default;
$color-ui-default-shadow: transparentize($color-ui-default, 0.5) !default;

$color-ui-primary: #ee3b37 !default;
$color-ui-primary-border: $color-ui-primary !default;
$color-ui-primary-contrast: $color-light !default;
$color-ui-primary-shadow: transparentize($color-ui-primary, 0.5) !default;

$color-ui-secondary: #cbc7c5 !default;
$color-ui-secondary-border: $color-ui-secondary !default;
$color-ui-secondary-contrast: $color-dark !default;
$color-ui-secondary-shadow: transparentize($color-ui-default, 0.5) !default;

// UI Text colors
$color-text-placeholder: $color-light-grey !default;
$color-text-label: $color-light-grey !default;
$color-text-input: $color-dark !default;
$color-text-input-light: $color-light !default;
$color-text-required-star: #d57979 !default;

// Summary map pf all colors (look="<look-name>") can overrides as well to support different looks.
$looks: (
  "default": (
    $color-ui-default
    $color-ui-default-border
    $color-ui-default-contrast
    $color-ui-default-shadow
  ),
  "primary": (
    $color-ui-primary
    $color-ui-primary-border
    $color-ui-primary-contrast
    $color-ui-primary-shadow
  ),
  "secondary": (
    $color-ui-secondary
    $color-ui-secondary-border
    $color-ui-secondary-contrast
    $color-ui-secondary-shadow
  )
) !default;

$ui-overall-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);

// Component-specific features. It is relative to SVG size.
$ui-progress-radial__stroke-width: 5% !default;
$ui-progress-radial__stroke-width-val: 10% !default;

// Media Breakpoints list
$ui-media-breakpoints: (
  xs: 600px,
  sm: 1024px,
  md: 1280px,
  lg: 1600px
) !default;

// Main Content Width map
$ui-media-content-width: (
  xs: 100%,
  sm: 90%,
  md: 1200px,
  lg: 1440px
) !default;

// Font size multiplliers
$ui-typo-font-size-multipliers: (
  lg: 1,
  md: 0.85,
  sm: 0.75,
  xs: 1,
) !default;

// Media Breakpoints list for height
$ui-media-height-breakpoints: (
  xs: 360px,
  sm: 420px,
  md: 600px,
  lg: 900px
) !default;

// V2
// V2 Media Breakpoints list
$ui-media-breakpoints-v2: (
  sm: 1200px,
  md: 1440px,
) !default;

// V2 Main Content Width
$ui-media-content-width-v2: 1200px;
