@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply size-full;
}

@screen lg {
  html {
    scroll-behavior: smooth;
  }
}

.gradient1 {
  @apply bg-gradient-to-r from-[#45C45C] to-[#39CDA0];
}

.gradient2 {
  @apply bg-gradient-to-r from-[#82ED95] to-[#82EDC0];
}

.gradient3 {
  @apply bg-gradient-to-r from-[#AC95DC] to-[#CD90F3];
}

.gradient4 {
  @apply bg-gradient-to-r from-[#383838] to-[#282828];
}

.gradient5 {
  @apply bg-gradient-to-r from-[#EAEC9B] to-[#C1F0A5];
}

.typed-cursor {
  @apply gradient1 ml-1 inline-block h-[40%] w-1;
}

#post-content {
  p {
    @apply mt-4 whitespace-pre-line text-textPrimary typography-body2;
  }

  span {
    @apply mt-4 whitespace-pre-line text-textPrimary typography-body2;
  }

  img {
    @apply mt-6 h-auto w-full rounded-xl;
  }

  ul {
    @apply mt-4 list-inside list-disc;
  }

  ol {
    @apply mt-4 list-inside list-decimal;
  }

  a {
    @apply underline;
  }

  h1 {
    @apply mt-6 text-textPrimary typography-h1;
  }
  h2 {
    @apply mt-6 text-textPrimary typography-h2;
  }
  h3 {
    @apply mt-6 text-textPrimary typography-h3;
  }
  h4 {
    @apply mt-6 text-textPrimary typography-h4;
  }
  h5 {
    @apply mt-6 text-textPrimary typography-h5;
  }
  h6 {
    @apply mt-6 text-textPrimary typography-h6;
  }

  blockquote:not(.twitter-tweet) {
    @apply my-4 border-s-4 border-componentPrimary bg-backgroundContainer p-4;
  }

  hr {
    @apply my-12 border-s-4 border-componentPrimary;
  }

  pre {
    @apply mt-4 whitespace-pre;
  }

  code {
    @apply my-4 block overflow-x-scroll whitespace-pre rounded-xl bg-backgroundContainer p-4;
  }

  iframe {
    @apply my-4 aspect-video w-full;
  }

  .twitter-tweet {
    @apply mx-auto my-4;

    & > iframe {
      @apply rounded-xl;
    }
  }
}
