.main-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-main-overlay);
  background-color: var(--col-black-alpha);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: var(--slow-transition-duration);
  transition-timing-function: var(--slide-transition-timing-function);

  &--is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
  }
}
