/* Image preload */

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/img/bg/primary-stains-bg.jpg');
}

/* Init loader */

.init-loader {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.init-loader--hidden {
  opacity: 0;
  pointer-events: none;
}

.init-loader__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: grid;
  place-items: center;
  background-color: #000000;
}

.init-loader__logo {
  width: 40vmin;
  max-width: 320px;
  color: #ffffff;
  animation: scale 1.5s alternate infinite ease-in;
}

@media (prefers-color-scheme: light) {
  .init-loader__overlay {
    background-color: #f1faf9;
  }

  .init-loader__logo {
    color: #000000;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}

/* Parallax */

.primary-video-parallax {
  min-width: 100vmax;
  height: 120%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}
