.home-hero-decor{
  --z-lottie-wrapper: 5;
  height: 100%;
  width: 100%;
  position: absolute;
}
.home-hero-decor__lottie-wrapper {
  display: none;

  @include respond-above(medium) {
    position: absolute;
    display: block;
    bottom: 15vh;
    right: 4vw;
    margin-left: auto;
    width: 38%;
    transform: translateX(15%);
    transition: opacity var(--fast-transition-duration) linear;
    will-change: opacity;
    pointer-events: none;
  }
}

.home-hero-decor__lottie {
  position: relative;
  padding-top: 100%;
  height: 0;
  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
