.marquee-section {
  @include noise-bg;
}

.marquee-section__content {
  display: flex;
  align-items: center;
  padding-top: to-rem(80);
  padding-bottom: to-rem(80);
  text-transform: uppercase;

  @include respond-above(md) {
    padding-top: to-rem(180);
    padding-bottom: to-rem(180);
  }

  .marquee {
    justify-content: space-around;
  }
}

.marquee-section__title {
  font-size: to-rem(52);
}
