<footer class="app-footer">
  <div class="app-footer__container container">
    <div class="app-footer__content">
      <a href="#" class="app-footer__logo">
        <svg class="app-footer__logo-img" height="24" width="93">
          <use href="/sprite.svg#icon-app-logo"></use>
        </svg>
      </a>
      <div class="app-footer__links-wrapper">
        <a
          class="app-footer__link"
          href="#"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <svg class="app-footer__link-icon" height="18" width="16">
            <use href="/sprite.svg#icon-discord"></use>
          </svg>
        </a>
        <a
          class="app-footer__link"
          href="#"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <svg class="app-footer__link-icon" height="14" width="17">
            <use href="/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
