<section class="experience-section container">
  <h3
    class="experience-section__title"
    data-i18n="experience-section.title"
  ></h3>
  <p
    class="experience-section__subtitle"
    data-i18n="experience-section.subtitle"
  ></p>
  <ul class="experience-section__card-list">
    <li class="experience-section__card">
      <svg class="experience-section__card-icon" height="32" width="32">
        <use href="/sprite.svg#icon-access"></use>
      </svg>
      <h5
        class="experience-section__card-title"
        data-i18n="experience-section.access-title"
      ></h5>
      <p
        class="experience-section__card-text"
        data-i18n="experience-section.access-text"
      ></p>
    </li>
    <li class="experience-section__card">
      <svg class="experience-section__card-icon" height="32" width="32">
        <use href="/sprite.svg#icon-interoperability"></use>
      </svg>
      <h5
        class="experience-section__card-title"
        data-i18n="experience-section.interoperability-title"
      ></h5>
      <p
        class="experience-section__card-text"
        data-i18n="experience-section.interoperability-text"
      ></p>
    </li>
    <li class="experience-section__card">
      <svg class="experience-section__card-icon" height="32" width="32">
        <use href="/sprite.svg#icon-liquidity"></use>
      </svg>
      <h5
        class="experience-section__card-title"
        data-i18n="experience-section.liquidity-title"
      ></h5>
      <p
        class="experience-section__card-text"
        data-i18n="experience-section.liquidity-text"
      ></p>
    </li>
  </ul>
</section>
