<section class='experience-section container'>
  <h3
    class='experience-section__title'
    data-i18n='experience-section.title'
    data-aos='fade-left'
  ></h3>
  <p
    class='experience-section__subtitle'
    data-i18n='experience-section.subtitle'
    data-aos='fade-left'
    data-aos-delay='400'
  ></p>
  <ul class='base-card-list'>
    {{#each list}}
      <li
        class='base-card-list__card'
        data-aos='fade-down'
        data-aos-duration='1000'
        data-aos-delay='{{getShiftedDelay @index 300}}'
        data-aos-anchor-placement='top-bottom'
      >
        <svg class='experience-section__card-icon' height='32' width='32'>
          <use href='{{this.icon}}'></use>
        </svg>
        <h5
          class='experience-section__card-title'
          data-i18n='{{this.title}}'
        ></h5>
        <p class='experience-section__card-text' data-i18n='{{this.text}}'></p>
      </li>
    {{/each}}
  </ul>
</section>