<section class="hero-section primary-bg">
  <div class="hero-section__titles-wrapper container">
    <h2 class="hero-section__title" data-i18n="hero-section.title"></h2>
    <h4 class="hero-section__subtitle" data-i18n="hero-section.subtitle"></h4>
    <p
      class="hero-section__description"
      data-i18n="hero-section.description_html"
    ></p>
  </div>
  <div class="hero-section__links-wrapper container">
    {{> app-link class="hero-section__link" href="#"
    text="hero-section.join-testnet-link" }} {{> app-link
    class="hero-section__link" href="#" text="hero-section.white-paper-link" }}
  </div>

  {{> blockchains-list supportedBlockchainsCtx }}
</section>
