<section class="user-cases-section">
  <h3
    class="user-cases-section__title container"
    data-i18n="user-cases-section.title"
  ></h3>
  <p
    class="user-cases-section__subtitle container"
    data-i18n="user-cases-section.subtitle"
  ></p>
  <ul class="user-cases-section__card-list">
    <li class="user-cases-section__card primary-bg">
      <img
        class="user-cases-section__card-img"
        src="/img/user-cases-section/nft-settlement-img.png"
        alt="NFT Settlement"
      />
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.nft-settlement-title"
      ></h4>
      <p
        class="user-cases-section__card-text"
        data-i18n="user-cases-section.nft-settlement-text"
      ></p>
    </li>
    <li class="user-cases-section__card honeydew-peel-bg">
      <img
        class="user-cases-section__card-img"
        src="/img/user-cases-section/borrowing-img.png"
        alt="Lending & Borrowing"
      />
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.borrowing-title"
      ></h4>
      <p
        class="user-cases-section__card-text"
        data-i18n="user-cases-section.borrowing-text"
      ></p>
    </li>
    <li class="user-cases-section__card apocyan-bg">
      <img
        class="user-cases-section__card-img"
        src="/img/user-cases-section/asset-verification-img.png"
        alt="Asset Verification"
      />
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.asset-verification-title"
      ></h4>
      <p
        class="user-cases-section__card-text"
        data-i18n="user-cases-section.asset-verification-text"
      ></p>
    </li>
    <li class="user-cases-section__card pink-elephants-bg">
      <img
        class="user-cases-section__card-img"
        src="/img/user-cases-section/airdrop-img.png"
        alt="Multichain Airdrop"
      />
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.airdrop-title"
      ></h4>
      <p
        class="user-cases-section__card-text"
        data-i18n="user-cases-section.airdrop-text"
      ></p>
    </li>
    <li class="user-cases-section__card melon-sprinkle-bg">
      <img
        class="user-cases-section__card-img"
        src="/img/user-cases-section/staking-img.png"
        alt="Staking aggregator"
      />
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.staking-title"
      ></h4>
      <p
        class="user-cases-section__card-text"
        data-i18n="user-cases-section.staking-text"
      ></p>
    </li>
    <li class="user-cases-section__card california-lilac-bg">
      <h4
        class="user-cases-section__card-title"
        data-i18n="user-cases-section.share-title"
      ></h4>
    </li>
  </ul>

  {{> blockchains-list partnersCtx }}
</section>
