<section id="user-cases-section" class="user-cases-section">
  <h3
    class="user-cases-section__title container"
    data-i18n="user-cases-section.title"
    data-aos="fade-right"
  ></h3>
  <p
    class="user-cases-section__subtitle container"
    data-i18n="user-cases-section.subtitle"
    data-aos="fade-right"
    data-aos-delay="400"
  ></p>
  <div class="container">
    <div class="user-cases-section__card-list-wrapper user-cases-swiper">
        <button class="user-cases-section__list-nav-btn user-cases-section__list-nav-btn--prev" type="button">
          <svg  height="16" width="16">
          <use href="/sprite.svg#icon-arrow-right"></use>
        </svg>
        </button>
        <button class="user-cases-section__list-nav-btn user-cases-section__list-nav-btn--next" type="button">
          <svg  height="16" width="16">
          <use href="/sprite.svg#icon-arrow-right"></use>
        </svg>
        </button>
      <ul class="user-cases-section__card-list swiper-wrapper">
        <li
          class="user-cases-section__card user-cases-section__card--nft-settlement swiper-slide"
        >
          <img
            class="user-cases-section__card-img"
            src="/img/user-cases-section/nft-settlement-img.png"
            height="150"
            loading="lazy"
            alt="NFT Settlement"
          />
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.nft-settlement-title"
          ></h4>
          <p
            class="user-cases-section__card-text"
            data-i18n="user-cases-section.nft-settlement-text"
          ></p>
          {{> app-link primary=true class="user-cases-section__card-link"
          href="#" text="user-cases-section.nft-settlement-btn" }}
        </li>
        <li
          class="user-cases-section__card user-cases-section__card--asset-verification swiper-slide"
        >
          <img
            class="user-cases-section__card-img"
            src="/img/user-cases-section/asset-verification-img.png"
            height="150"
            loading="lazy"
            alt="Asset Verification"
          />
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.asset-verification-title"
          ></h4>
          <p
            class="user-cases-section__card-text"
            data-i18n="user-cases-section.asset-verification-text"
          ></p>
        </li>
        <li
          class="user-cases-section__card user-cases-section__card--borrowing swiper-slide"
        >
          <img
            class="user-cases-section__card-img"
            src="/img/user-cases-section/borrowing-img.png"
            height="150"
            loading="lazy"
            alt="Lending & Borrowing"
          />
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.borrowing-title"
          ></h4>
          <p
            class="user-cases-section__card-text"
            data-i18n="user-cases-section.borrowing-text"
          ></p>
        </li>
        <li
          class="user-cases-section__card user-cases-section__card--airdrop swiper-slide"
        >
          <img
            class="user-cases-section__card-img"
            src="/img/user-cases-section/airdrop-img.png"
            height="150"
            loading="lazy"
            alt="Multichain Airdrop"
          />
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.airdrop-title"
          ></h4>
          <p
            class="user-cases-section__card-text"
            data-i18n="user-cases-section.airdrop-text"
          ></p>
        </li>
        <li
          class="user-cases-section__card user-cases-section__card--staking swiper-slide"
        >
          <img
            class="user-cases-section__card-img"
            src="/img/user-cases-section/staking-img.png"
            height="150"
            loading="lazy"
            alt="Staking aggregator"
          />
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.staking-title"
          ></h4>
          <p
            class="user-cases-section__card-text"
            data-i18n="user-cases-section.staking-text"
          ></p>
        </li>
        <li
          class="user-cases-section__card user-cases-section__card--share swiper-slide"
        >
        <div class="user-cases-section__card--centered">
          <div class="user-cases-section__card-edit-icon-wrapper">
          <svg  height="32" width="32">
          <use href="/sprite.svg#icon-edit"></use>
        </svg>
          </div>
          <h4
            class="user-cases-section__card-title"
            data-i18n="user-cases-section.share-title"
          ></h4>
        </div>
        </li>
      </ul>
    </div>
  </div>

  {{> blockchains-list partnersCtx }}
</section>
