.subscribe-section {
  background-color: var(--accent-bg-color);

  @extend %accent-bg-plh;

  @include bg-rect(var(--col-black-min-alpha));
}

.subscribe-section__inner {
  padding-top: to-rem(135);
  padding-bottom: to-rem(135);
  background-image: linear-gradient(
    180deg,
    rgba(var(--col-primary-accent-main-rgb), 0%),
    var(--col-primary-accent-main) 60%,
    var(--col-primary-accent-main) 61%
  );
  text-align: center;

  @include noise-bg(var(--accent-bg-color));
}

.subscribe-section__title {
  max-width: 10em;
  margin-bottom: to-rem(24);
  text-transform: capitalize;

  @include respond-above(md) {
    max-width: unset;
  }
}

.subscribe-section__description {
  max-width: 23em;
  margin-bottom: to-rem(32);

  @include respond-above(md) {
    max-width: unset;
  }
}

.subscribe-section__form {
  width: 100%;
  max-width: 23em;
  margin: 0 auto;
}

.subscribe-section__subscribe-btn {
  &.subscribe-section__subscribe-btn {
    min-height: to-rem(50);
    padding: 0;
    color: var(--primary-text-color);

    @include hover {
      color: var(--primary-title-color);
    }
  }
}
