.text-field {
  display: flex;
  width: 100%;
  min-width: 0;
  flex: 1 1 auto;
  flex-flow: column wrap;
  letter-spacing: normal;
  text-align: left;
}

.text-field__inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 to-rem(16);
  background-color: rgba(var(--col-total-white-rgb), 5%);
}

.text-field__input {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  min-height: to-rem(54);
  flex: 1 1 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-size: to-rem(16);

  @include respond-above(medium) {
    font-size: to-rem(14);
  }
}

.text-field__append-inner {
  display: flex;
  flex-shrink: 0;
  padding-left: to-rem(16);
}

.text-field__error-message {
  overflow: hidden;
  max-width: 100%;
  height: to-rem(32);
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  margin-top: to-rem(4);
  opacity: 0;
  color: var(--col-error);
  font-size: to-rem(14);
  hyphens: auto;
  overflow-wrap: break-word;
  transition: opacity var(--hover-transition);
  word-break: break-word;
  word-wrap: break-word;

  &--visible {
    opacity: 1;
  }
}

.text-field__error-icon {
  margin-right: to-rem(4);
}
