.what-rarimo-does-section {
  position: relative;
  padding-top: bg-space(2);
  padding-bottom: bg-space(2);

  background-color: var(--accent-bg-color);

  @extend %accent-bg-plh;

  @include noise-bg;
  @include bg-rect;
}

.what-rarimo-does-section__decor-wrapper {
  display: none;

  @include respond-above(md) {
    --size: calc(#{bg-space(8)} + #{to-rem(1)});

    position: absolute;
    display: block;
    top: bg-space(5);
    right: calc(#{bg-space(1)} + #{to-rem(2)});
    width: var(--size);
    height: var(--size);

    @include bg-rect(var(--col-primary-black));
  }

  @include respond-above(xm) {
    --size: calc(#{bg-space(10)} + #{to-rem(1)});

    right: calc(#{bg-space(2)} + #{to-rem(2)});
  }
}

.what-rarimo-does-section__subtitle-wrapper {
  margin-bottom: bg-space(1);
  overflow: hidden;

  @include respond-above(sm) {
    margin-bottom: bg-space(2);
  }
}

.what-rarimo-does-section__subtitle {
  height: bg-space(1);
  width: bg-space(7);
  display: flex;
  align-items: center;
  padding: 0 bg-space(0.5);
  text-transform: uppercase;

  @include block-with-bg-border(var(--accent-bg-color));

  @include respond-above(sm) {
    padding: 0 bg-space(1);
    font-size: 1em;
  }

  @include respond-above(md) {
    @include respond-to(xm) {
      width: bg-space(8);
    }
  }
}

.what-rarimo-does-section__title-wrapper {
  height: bg-space(12);
  margin-bottom: bg-space(1);
  padding: bg-space(0.5);

  @include block-with-bg-border(var(--accent-bg-color));

  @include respond-above(sm) {
    height: bg-space(14);
    padding: bg-space(1);
  }

  @include respond-above(md) {
    width: bg-space(23);
    margin-bottom: bg-space(2);
  }

  @include respond-above(xm) {
    width: bg-space(24);
  }
}

.what-rarimo-does-section__title {
  max-width: 90%;
  margin-bottom: bg-space(1);
  font-weight: 500;
  text-transform: uppercase;

  @include respond-to(xs) {
    font-size: to-rem(30);
  }

  @include respond-above(sm) {
    font-weight: 600;
  }

  @include respond-above(md) {
    max-width: to-rem(800);
  }
}

.what-rarimo-does-section__description {
  max-width: 90%;
  letter-spacing: 0.02em;

  @include respond-above(sm) {
    max-width: to-rem(466);
  }

  @include respond-above(md) {
    max-width: to-rem(678);
    font-size: to-rem(18);
  }
}

.what-rarimo-does-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(to-rem(330), 1fr));
  grid-auto-rows: bg-space(7);

  @include respond-above(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(xm) {
    @include block-with-bg-border(var(--accent-bg-color));

    // redefining of border-bottom is required under the mixin
    border-bottom: to-rem(1) solid var(--bg-rect-border-color);
  }

  @include respond-above(xm) {
    grid-template-columns: 11fr 12fr 11fr;
    grid-gap: bg-space(2);
  }
}

.what-rarimo-does-section__list-item-wrapper {
  height: 100%;
  overflow: hidden;
}

.what-rarimo-does-section__list-item {
  height: 100%;
  padding: bg-space(1);

  @include respond-to(xm) {
    padding-bottom: 0;
  }

  @include respond-above(xm) {
    @include block-with-bg-border(var(--accent-bg-color));
  }
}

.what-rarimo-does-section__list-item-icon {
  height: to-rem(24);
  width: to-rem(24);
  display: flex;
  margin-bottom: to-rem(16);
}

.what-rarimo-does-section__list-item-title {
  position: relative;
  margin-bottom: to-rem(32);
  font-size: 1.25em;

  &::after {
    content: '';
    position: absolute;
    bottom: -#{to-rem(16)};
    left: 0;
    width: 100%;
    height: to-rem(1);
    background-color: var(--primary-title-color);
  }
}

.what-rarimo-does-section__list-item-text {
  color: var(--secondary-text-color);

  @include respond-above(sm) {
    font-size: 0.8em;
  }
}
