.verticals-section {
  padding-top: to-rem(88);
  padding-bottom: to-rem(88);
}

.verticals-section__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(64);
}

.verticals-section__title {
  --divider-width: #{to-rem(9)};

  position: relative;
  margin-right: calc(var(--divider-width) + #{to-rem(36)});
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 50%;
    right: calc((var(--divider-width) + #{to-rem(18)}) * -1);
    width: var(--divider-width);
    height: to-rem(1);
    transform: translateY(-50%);
    background-color: var(--primary-text-color);
    content: '';
  }
}

.verticals-section__docs-link {
  @extend %external-link;
}

.verticals-section__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(32);

  @include respond-above(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.verticals-section__list-item {
  height: 100%;
  border: to-rem(1) solid var(--primary-border-color);
  overflow: hidden;
}

.verticals-section__list-item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: to-rem(32);
  text-align: center;

  @include respond-above(md) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: to-rem(8) to-rem(32);
    justify-content: flex-start;
    text-align: left;
  }
}

.verticals-section__list-item-icon {
  height: to-rem(80);
  width: to-rem(80);
  flex-shrink: 0;
  margin-bottom: to-rem(32);
  color: var(--primary-title-color);

  @include respond-above(md) {
    grid-row: span 2;
    margin-bottom: 0;
  }
}

.verticals-section__list-item-title {
  margin-bottom: to-rem(8);

  @include respond-above(md) {
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.verticals-section__list-item-text {
  max-width: to-rem(400);

  @include respond-above(md) {
    align-self: flex-start;
  }
}
