.home-hero-section {
  position: relative;
  padding-top: calc(var(--app-bar-height) + #{to-rem(40)});
  padding-bottom: max(15vmin, to-rem(64));
  display: flex;
  flex-direction: column;

  background-image: url('/img/bg/black-rect.png');
  background-size: var(--primary-bg-rect-size);
  background-repeat: repeat;
  // background-position-x: center;

  @include respond-above(md) {
    padding-bottom: max(9vmin, to-rem(64));
    // background-repeat: no-repeat;
    // background-size: 40vw;
    // background-position: right center;
    // background-image: url('/img/home-hero-section/decor-bg.png');
  }

  @include respond-above(xm) {
    padding-top: calc(var(--app-bar-height) + #{to-rem(72)});
    // background-size: 43vw;
  }

  @include respond-above(xl) {
    // background-position: 85% center;
    // background-size: 35%;
  }

  @include respond-above(lg) {
    padding-top: bg-space(4);
  }
}

.home-hero-section__main-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: bg-space(2);
  padding-right: bg-space(1);
}

.home-hero-section__hero-wrapper {
  width: bg-space(24);
  height: bg-space(17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: bg-space(1);

  @include block-with-bg-border;
}

.home-hero-section__title {
  color: var(--secondary-title-color);
  text-transform: uppercase;
}

.home-hero-section__subtitle {
  display: flex;
  order: -1;
  color: var(--secondary-title-color);
  text-transform: uppercase;
}

.home-hero-section__description {
  font-size: to-rem(20);
  letter-spacing: 0.01em;
}

.home-hero-section__links-wrapper {
  display: flex;
}

.home-hero-section__link {
  &:not(:last-child) {
    margin-right: to-rem(24);
  }
}

.home-hero-section__blockchains-wrapper {
  height: bg-space(3);
  width: bg-space(11);
  display: flex;
  align-items: center;
  padding: 0 to-rem(24);

  @include block-with-bg-border;
}

.home-hero-section__scroll-for-more {
  height: bg-space(1);
  width: bg-space(5);
  display: flex;
  align-items: center;
  margin-bottom: bg-space(2);
  font-size: to-rem(14);
  color: var(--primary-text-color);
  text-transform: capitalize;

  @include block-with-bg-border;
}

.home-hero-section__marquee {
  height: bg-space(3);
  display: flex;
  align-items: center;
  padding: 0 bg-space(1);
  text-transform: uppercase;

  @include block-with-bg-border;
}
