%redefined-aos-fade {
  @include redefine-aos-prop('fade-up') {
    transform: translate3d(0, bg-space(2), 0);
  }
}

.home-hero-section {
  @include bg-rect;
}

.home-hero-section__inner {
  padding-top: bg-space(2);
  padding-bottom: to-rem(80);
  background-image: linear-gradient(
    180deg,
    var(--col-primary-black-opacity) 0%,
    var(--col-primary-black) 60%,
    var(--col-primary-black) 61%
  );

  @include noise-bg;
}

.home-hero-section__content {
  position: relative;
  padding-top: to-rem(216);

  // @include respond-above(sm) {
  //   padding-right: bg-space(1);
  //   padding-left: bg-space(1);

  //   @include respond-to(md) {
  //     margin-bottom: bg-space(2);
  //   }
  // }

  @include respond-above(md) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.home-hero-section__decor {
  display: none;

  @include respond-above(md) {
    display: block;
    position: absolute;
    top: 0;
    right: bg-space(1);
    width: bg-space(5);
  }

  &--part-1,
  &--part-2,
  &--part-3 {
    background-size: 100%;

    @extend %redefined-aos-fade;
  }

  &--part-1 {
    height: bg-space(4);
    background-image: url('/img/home-hero-section/decor-part-1.png');
  }

  &--part-2 {
    height: bg-space(3);
    background-image: url('/img/home-hero-section/decor-part-2.png');
  }

  &--part-3 {
    height: bg-space(3);
    background-image: url('/img/home-hero-section/decor-part-3.png');
  }
}

.home-hero-section__hero-wrapper {
  max-width: to-rem(300);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: bg-space(1);
  text-align: center;

  @include respond-above(sm) {
    max-width: unset;
  }

  @include respond-above(md) {
    align-items: stretch;
    margin-bottom: 0;
    text-align: left;
  }
}

.home-hero-section__title {
  margin-bottom: to-rem(32);
  text-transform: uppercase;
}

.home-hero-section__title-part {
  overflow: hidden;
  white-space: break-spaces;
}

.home-hero-section__subtitle {
  display: flex;
  order: -1;
  margin-bottom: to-rem(40);
  text-transform: uppercase;
}

.home-hero-section__description {
  max-width: to-rem(530);
  margin-bottom: to-rem(48);
  font-size: to-rem(20);
  letter-spacing: 0.01em;
}

.home-hero-section__links-wrapper {
  width: 100%;

  @include respond-above(sm) {
    display: flex;
    justify-content: center;
  }

  @include respond-above(md) {
    justify-content: flex-start;
  }
}

.home-hero-section__link {
  &:not(:last-child) {
    margin-bottom: to-rem(18);
  }

  @include respond-above(sm) {
    width: auto;
    max-width: to-rem(210);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.home-hero-section__link-icon {
  margin-left: to-rem(8);
}

.home-hero-section__blockchains-wrapper {
  display: flex;
  align-items: center;
  padding: to-rem(30) 0;

  @include respond-above(sm) {
    @include respond-to(md) {
      justify-content: center;
      text-align: center;
    }
  }
}

// .home-hero-section__scroll-for-more {
//   display: none;

//   @include respond-above(md) {
//     height: bg-space(1);
//     width: bg-space(6);
//     display: flex;
//     align-items: center;
//     margin-bottom: bg-space(2);
//     padding-left: bg-space(1);
//     font-size: to-rem(14);
//     color: var(--primary-text-color);
//     text-transform: capitalize;

//     @include block-with-bg-border;
//   }
// }

// .home-hero-section__scroll-for-more-icon {
//   transform: rotate(90deg);
//   margin-right: to-rem(18);
// }
