.how-rarimo-works-section {
  --accent-color-rgb: var(--col-total-white-rgb);
  --z-lottie-wrapper: 5;
  --z-card-top: 3;
  --z-card-middle: 2;
  --z-card-bottom: 1;

  position: relative;

  &--identity {
    --accent-color-rgb: var(--col-peach-bellini-rgb);
  }

  &--bridging {
    --accent-color-rgb: var(--col-primary-accent-main-rgb);
  }
}

.how-rarimo-works-section__content {

  @include respond-to(medium) {
    padding: 0;
    overflow: hidden;
  }

  @include respond-above(medium) {
    height: vh(300);
    display: flex;
    flex-direction: column;
  }
}

.how-rarimo-works-section__swiper-container {
  position: sticky;
  top: calc(var(--app-bar-height) - vh(3));
  width: 85%;
  margin-left: to-rem(20);
  height: to-rem(600);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @include respond-above(medium) {
    overflow: visible;
    top: calc(var(--app-bar-height) + vh(3));
    height: vh(77);
    width: 100%;
    margin-left: unset;
  }
}

/* stylelint-disable declaration-no-important */
.how-rarimo-works-section__slide {
  z-index: var(--z-card-top) !important;
  overflow: visible !important;
  //height: 100%!important;
  height: to-rem(580);

  &--second {
    z-index: var(--z-card-middle) !important;
  }

  &--third {
    z-index: var(--z-card-bottom) !important;
  }
}
/* stylelint-enable declaration-no-important */

.how-rarimo-works-section__lottie-wrapper {
  display: none;

  @include respond-above(medium) {
    display: block;
    position: absolute;
    z-index: var(--z-lottie-wrapper);
    bottom: vh(18);
    right: 0;
    width: 34%;
    transform: translateX(14%);
    transition: opacity var(--fast-transition-duration) linear;
    will-change: opacity;
    pointer-events: none;
    background-image: url("/static/img/how-rarimo-works/how-rarimo-works.png");
    background-size: 100% 100%;
  }

  @include respond-above(xlarge) {
    width: 31%;
  }
}

.how-rarimo-works-section__lottie {
  display: flex;
}

.how-rarimo-works-section__card {
  height: to-rem(581);
  border-radius: var(--primary-border-radius);
  background-image: radial-gradient(
    84.49% 84.49% at 50% -29.58%,
    rgba(var(--accent-color-rgb), 0.2) 0%,
    rgba(var(--accent-color-rgb), 0) 100%
  );
  box-shadow: 0 to-rem(12) to-rem(32) rgba(var(--col-total-black-rgb), 0.48);

  @include respond-above(medium) {
    height: 100%;
    width: 100%;
    margin: unset;
  }

  //.base-card__content::before {
  //  filter: invert(0.4) opacity(0.2);
  //}
}

.how-rarimo-works-section__card-content {
  @include respond-above(medium) {
    max-width: 71%;
  }

  @include respond-above(xlarge) {
    max-width: 75%;
  }
}

.how-rarimo-works-section__subtitle {
  margin-bottom: to-rem(40);
  text-transform: uppercase;

  @include respond-above(medium) {
    margin-bottom: max(vh(8), to-rem(72));
  }
}

.how-rarimo-works-section__title {
  margin-bottom: to-rem(16);

  @include respond-to(medium) {
    margin-bottom: max(vh(3), to-rem(16));
    font-size: to-rem(24);
  }
}

.how-rarimo-works-section__description {
  margin-bottom: to-rem(32);

  @include respond-above(medium) {
    max-width: 70%;
    margin-bottom: max(vh(13), to-rem(110));
    font-size: to-rem(16);
    letter-spacing: 0.02em;
  }

  @include respond-above(large) {
    font-size: to-rem(18);
  }

  .how-rarimo-works-section__card--protocol & {
    @include respond-above(medium) {
      max-width: to-rem(480);
      margin-bottom: max(vh(7), to-rem(60));
    }
  }
}

.how-rarimo-works-section__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(24) 3%;
  padding-bottom: max(vh(5), to-rem(24));

  @include respond-above(medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.how-rarimo-works-section__list-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: max(vh(1.5), to-rem(10));
  padding-bottom: max(vh(1.5), to-rem(10));
  border-bottom: to-rem(1) solid var(--primary-border-color);
  text-transform: capitalize;

  @include respond-above(medium) {
    flex-wrap: wrap;
    font-size: to-rem(14);
  }

  @include respond-above(large) {
    font-size: to-rem(16);
  }
}

.how-rarimo-works-section__list-item-description {
  display: none;

  @include respond-above(medium) {
    display: block;
  }
}

.how-rarimo-works-section__list-item-icon {
  display: flex;

  @include respond-above(medium) {
    width: 100%;
    order: -1;
    margin-bottom: max(vh(1.5), to-rem(10));
  }
}

.how-rarimo-works-section__subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(40);

  @include respond-above(medium) {
    margin-bottom: max(vh(8), to-rem(72));
  }
}

.how-rarimo-works-section__protocol-subtitle {
  --divider-width: #{to-rem(9)};

  position: relative;
  margin-right: calc(var(--divider-width) + #{to-rem(36)});
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 50%;
    right: calc((var(--divider-width) + #{to-rem(18)}) * -1);
    width: var(--divider-width);
    height: to-rem(1);
    transform: translateY(-50%);
    background-color: var(--primary-text-color);
    content: '';
  }
}

.how-rarimo-works-section__docs-link {
  @extend %external-link;
}

.how-rarimo-works-section__protocol-list {
  padding-left: to-rem(22);
  padding-bottom: to-rem(24);
  letter-spacing: 0.02em;
}

.how-rarimo-works-section__protocol-list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: max(vh(2), to-rem(16));
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -#{to-rem(22)};
    transform: translateY(-50%);
    height: to-rem(6);
    width: to-rem(6);
    background-color: var(--primary-text-color);
    content: '';

    .how-rarimo-works-section--identity & {
      background-color: rgba(var(--accent-color-rgb), 1);
    }
  }
}

.how-rarimo-works-section__protocol-accent-text {
  margin-right: 0.3em;
  color: rgba(var(--accent-color-rgb), 1);
  font-weight: 500;
}
