.how-rarimo-works-section {
  --accent-color-rgb: var(--col-total-white-rgb);
  --z-card-decor: 5;
  --z-card-top: 3;
  --z-card-middle: 2;
  --z-card-bottom: 1;

  position: relative;

  &--identity {
    --accent-color-rgb: var(--col-peach-bellini-rgb);
  }

  &--bridging {
    --accent-color-rgb: var(--col-primary-accent-main-rgb);
  }
}

.how-rarimo-works-section__decor-wrapper {
  display: none;

  @include respond-above(md) {
    position: absolute;
    z-index: var(--z-card-decor);
    display: block;
    top: to-rem(90);
    right: -#{to-rem(50)};
    width: 33%;
  }
}

.how-rarimo-works-section__content {
  @include respond-to(md) {
    padding: 0;
  }
}

.how-rarimo-works-section__card {
  position: relative;
  z-index: var(--z-card-top);
  border-radius: to-rem(4);
  background-image: radial-gradient(
    84.49% 84.49% at 50% -29.58%,
    rgba(var(--accent-color-rgb), 0.2) 0%,
    rgba(var(--accent-color-rgb), 0) 100%
  );
  box-shadow: 0 to-rem(12) to-rem(32) rgba(var(--col-total-black-rgb), 0.48);

  &:nth-child(2),
  &:nth-child(3) {
    position: sticky;
    margin-top: to-rem(50);
    backface-visibility: hidden;
  }

  &:nth-child(2) {
    z-index: var(--z-card-middle);
    bottom: 10vh;
  }

  &:nth-child(3) {
    z-index: var(--z-card-bottom);
    bottom: 5vh;
  }
}

.how-rarimo-works-section__card-content {
  @include respond-above(md) {
    max-width: 70%;
  }
}

.how-rarimo-works-section__subtitle {
  margin-bottom: to-rem(40);
  text-transform: uppercase;

  @include respond-above(md) {
    margin-bottom: max(6vh, to-rem(50));
  }
}

.how-rarimo-works-section__title {
  margin-bottom: to-rem(16);

  @include respond-to(md) {
    font-size: to-rem(24);
  }

  .how-rarimo-works-section__card--protocol & {
    @include respond-above(md) {
      margin-bottom: max(5.5vh, to-rem(40));
    }
  }
}

.how-rarimo-works-section__description {
  margin-bottom: to-rem(72);

  @include respond-above(md) {
    margin-bottom: max(6vh, to-rem(50));
    font-size: to-rem(16);
    letter-spacing: 0.02em;
  }

  @include respond-above(lg) {
    font-size: to-rem(18);
  }

  .how-rarimo-works-section__card--protocol & {
    @include respond-above(md) {
      max-width: to-rem(480);
      margin-bottom: max(8vh, to-rem(60));
    }
  }
}

.how-rarimo-works-section__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(36) 3%;
  padding-bottom: to-rem(24);

  @include respond-above(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.how-rarimo-works-section__list-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: max(1.5vh, to-rem(10));
  padding-bottom: max(1.5vh, to-rem(10));
  border-bottom: to-rem(1) solid var(--primary-border-color);
  text-transform: capitalize;

  @include respond-above(md) {
    flex-wrap: wrap;
    font-size: to-rem(14);
  }

  @include respond-above(lg) {
    font-size: to-rem(16);
  }
}

.how-rarimo-works-section__list-item-icon {
  display: flex;

  @include respond-above(md) {
    width: 100%;
    order: -1;
    margin-bottom: max(1.5vh, to-rem(10));
  }
}

.how-rarimo-works-section__subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(40);

  @include respond-above(md) {
    margin-bottom: max(8vh, to-rem(60));
  }
}

.how-rarimo-works-section__protocol-subtitle {
  --divider-width: #{to-rem(9)};

  position: relative;
  margin-right: calc(var(--divider-width) + #{to-rem(36)});
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 50%;
    right: calc((var(--divider-width) + #{to-rem(18)}) * -1);
    width: var(--divider-width);
    height: to-rem(1);
    transform: translateY(-50%);
    background-color: var(--primary-text-color);
    content: '';
  }
}

.how-rarimo-works-section__docs-link {
  @extend %external-link;
}

.how-rarimo-works-section__protocol-list {
  padding-left: to-rem(22);
  padding-bottom: to-rem(24);
  letter-spacing: 0.02em;
}

.how-rarimo-works-section__protocol-list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: max(2vh, to-rem(16));
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -#{to-rem(22)};
    transform: translateY(-50%);
    height: to-rem(6);
    width: to-rem(6);
    background-color: var(--primary-text-color);
    content: '';

    .how-rarimo-works-section--identity & {
      background-color: rgba(var(--accent-color-rgb), 1);
    }
  }
}

.how-rarimo-works-section__protocol-accent-text {
  margin-right: 0.3em;
  color: rgba(var(--accent-color-rgb), 1);
  font-weight: 500;
}
