.what-is-rarimo-section {
  position: relative;
  padding-top: to-rem(88);
  padding-bottom: to-rem(128);
  background-color: var(--accent-bg-color);

  @extend %accent-bg-plh;

  @include noise-bg(var(--accent-bg-color));

  &::before {
    z-index: var(--z-default);
  }
}

.what-is-rarimo-section__content {
  > *:not(.what-is-rarimo-section__decor-wrapper) {
    position: relative;
    z-index: var(--z-default);
  }
}

.what-is-rarimo-section__decor-wrapper {
  display: none;

  @include respond-above(md) {
    position: absolute;
    display: block;
    top: to-rem(90);
    right: 0;
    width: 33%;
  }
}

.what-is-rarimo-section__subtitle {
  margin-bottom: to-rem(120);
  text-transform: uppercase;
}

.what-is-rarimo-section__title {
  max-width: to-rem(800);
  margin-bottom: to-rem(40);
  text-transform: capitalize;
}

.what-is-rarimo-section__description {
  max-width: to-rem(678);
  margin-bottom: to-rem(120);
  font-size: to-rem(20);
  letter-spacing: 0.02em;
}

.what-is-rarimo-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(to-rem(280), 1fr));
  grid-gap: to-rem(60) to-rem(32);
}

.what-is-rarimo-section__list-item-icon {
  height: to-rem(24);
  width: to-rem(24);
  display: flex;
  margin-bottom: to-rem(16);
  color: var(--primary-title-color);
}

.what-is-rarimo-section__list-item-title {
  position: relative;
  margin-bottom: to-rem(40);
  text-transform: capitalize;

  &::after {
    content: '';
    position: absolute;
    bottom: -#{to-rem(16)};
    left: 0;
    width: 100%;
    height: to-rem(1);
    background-color: var(--primary-title-color);
  }
}
