.app-accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: to-rem(16);

  --accordion-title-color: var(--col-white-text-alpha);
  --accordion-line-color: var(--col-white-bg-alpha);
  --accordion-icon-rotate: 0deg;
  --accordion-content-color: var(--col-white-alpha);
  --accordion-title-font-size: var(--h5-size);
  --accordion-content-font-size: #{to-rem(14)};
  --after-width: 0%;

  @include respond-above(medium) {
    margin-bottom: to-rem(37);
    --accordion-title-font-size: #{to-rem(24)};
    --accordion-content-font-size: #{to-rem(20)};
  }

  .app-accordion__title {
    color: var(--accordion-title-color);
    font-size: var(--accordion-title-font-size);
  }

  .app-accordion__line {
    margin-left: 0;
    border-bottom: to-rem(1) solid var(--accordion-line-color);
    padding-bottom: to-rem(16);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      height: to-rem(1);
      width: var(--after-width);
      background-color: var(--accordion-line-color);
      transition: all var(--medium-transition-duration)
        var(--slide-transition-timing-function);
    }
  }

  .app-accordion__icon {
    color: var(--accordion-title-color);
    rotate: var(--accordion-icon-rotate);
    transition: all var(--medium-transition-duration)
      var(--slide-transition-timing-function);
  }

  .app-accordion__inner {
    max-width: to-rem(526);
    overflow-y: hidden;
    max-height: 0;
    padding: 0;
    opacity: 0;
    font-size: var(--accordion-content-font-size);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.4s ease;

    & p {
      color: var(--accordion-content-color);
      font-size: var(--accordion-content-font-size);
    }
  }

  &--opened {
    --accordion-title-color: var(--col-white-alpha);
    --accordion-icon-rotate: 180deg;
    --after-width: 50%;

    .app-accordion__inner {
      padding: to-rem(5) 0;
      padding-top: to-rem(16);
      padding-bottom: to-rem(16);
      max-height: to-rem(300);
      opacity: 1;
      transform: scaleY(1);

      @include respond-above(medium) {
        max-height: to-rem(160);
        padding-top: to-rem(24);
        padding-bottom: 0;
      }
    }
  }
}
