.news-section__wrapper {
  background-color: var(--col-white-bg-alpha);
  padding: to-rem(20);

  @include respond-above(medium) {
    padding: to-rem(24);
  }
}

.news-section__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(20);
  justify-content: space-between;

  @include respond-above(medium) {
    margin-bottom: to-rem(24);
  }
}

.news-section__view-all-link {
  @extend %external-link;
}

.news-section__list {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.news-section__item {
  height: 100%;
  width: 100%;
  margin-right: to-rem(24);

  @include respond-above(xmedium) {
    width: calc(33% - #{to-rem(16)});
    margin-right: 0;
  }
}

.news-section__item-link {
  height: 100%;
  display: flex;
  align-items: center;
  gap: to-rem(20);

  @media (hover: hover) {
    &:hover {
      .news-section__item-title {
        color: var(--col-le-max);
      }
    }
  }
}

.news-section__item-image {
  width: to-rem(86);
  height: to-rem(86);
  object-fit: cover;
  border-radius: to-rem(12);
}

.news-section__item-title {
  @include line-clamp(2);

  font-size: to-rem(14);
  line-height: to-rem(20);
  font-weight: 500;
  color: var(--col-white-alpha);
  transition: color var(--hover-transition);
}

.news-section__item-date {
  margin-top: 8px;
  font-size: to-rem(12);
  color: var(--col-white-text-alpha);
}

.news-section__swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: to-rem(20);
}


.news-section__swiper-pagination-bullet-wrapper{
  display: flex;
  align-items: center;
  height: to-rem(5);
}


.news-section__swiper-pagination-bullet{
  width: to-rem(5);
  height: to-rem(5);
  background: #D9D9D91A;
  margin: 0 to-rem(5);
}

.active-bullet{
  background: var(--col-le-max);
}

