.news-section {
  padding-top: to-rem(50);
  padding-bottom: to-rem(50);

  @include respond-above(medium) {
    padding-top: to-rem(80);
    padding-bottom: to-rem(220);
  }
}

.news-section__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(40);
  justify-content: space-between;

  @include respond-above(medium) {
    margin-bottom: to-rem(64);
  }
}

.news-section__title {
  --divider-width: #{to-rem(9)};

  position: relative;
  margin-right: calc(var(--divider-width) + #{to-rem(36)});
  text-transform: uppercase;
}

.news-section__view-all-link {
  color: var(--col-le-max);
  font-size: to-rem(14);
  font-weight: 700;
  text-transform: capitalize;
  padding: to-rem(10) to-rem(12) to-rem(10) to-rem(16);
  border: 1px solid var(--col-le-max);
  display: flex;
  align-items: center;
  &-icon{
    margin-left: to-rem(8);
  }
}

.news-section__list {
  height: to-rem(196);
}

.news-section__item {
  height: 100%;
  width: to-rem(320);

  @include respond-above(xmedium) {
    width: calc(25% - #{to-rem(24)});
  }
}

.news-section__item-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(var(--col-lead-rgb), 50%);

  @include bg-rect(to-rem(48), rgba(var(--col-total-white-rgb), 5%));

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: to-rem(6);
    background-image: linear-gradient(
      to right,
      var(--col-primary-accent-main),
      var(--col-primary-accent-main) 20%,
      var(--col-latigo-bay) 20%,
      var(--col-latigo-bay) 40%,
      var(--col-sagittarius-amber) 40%,
      var(--col-sagittarius-amber) 60%,
      var(--col-cantaloupe-slice) 60%,
      var(--col-cantaloupe-slice) 80%,
      var(--col-peach-bellini) 80%,
      var(--col-peach-bellini) 100%
    );
  }
}

.news-section__item-title-wrapper {
  padding: to-rem(20);
}

.news-section__item-block-name {
  font-size: to-rem(16);
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

.news-section__item-title {
  position: relative;
  font-weight: 700;

  &::after {
    position: absolute;
    right: 0;
    bottom: -#{to-rem(2)};
    width: 0;
    height: to-rem(1);
    background-color: currentColor;
    content: '';
    transition: width var(--medium-transition-duration)
      var(--slide-transition-timing-function);
  }

  @media all and (hover: hover) {
    .news-section__item-link:hover &,
    .news-section__item-link:focus-visible & {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.news-section__swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: to-rem(48);
}

.news-section__swiper-pagination-btn{
  &-next, &-prev{
    width: to-rem(40);
    align-items: end;
    justify-content: center;
    display: flex;
  }
}

.news-section__swiper-pagination-bullet-wrapper{
  display: flex;
  align-items: center;
  height: to-rem(5);
}


.news-section__swiper-pagination-bullet{
  width: to-rem(5);
  height: to-rem(5);
  background: #D9D9D91A;
  margin: 0 to-rem(5);
}

.active-bullet{
  background: #ffffff;
}
.news-section__swiper-pagination-btn-icon-prev{
  transform: rotate(180deg);
}

