.news-section__wrapper {
  background-color: var(--col-white-bg-alpha);
  padding: to-rem(20);

  @include respond-above(medium) {
    padding: to-rem(24);
  }
}

.news-section__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(20);
  justify-content: space-between;

  @include respond-above(medium) {
    margin-bottom: to-rem(24);
  }
}

.news-section__controls {
  display: flex;
  gap: to-rem(16);
}

.news-section__control {
  cursor: pointer;
  color: var(--col-total-white);
  transition: color var(--hover-transition);

  &:disabled {
    cursor: not-allowed;
    color: var(--col-white-alpha);
  }
}

.news-section__control-icon {
  width: to-rem(20);
  height: to-rem(20);

  &--prev {
    transform: rotate(180deg);
  }
}

.news-section__list {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.news-section__item {
  height: 100%;
  width: 100%;

  @include respond-above(xmedium) {
    width: calc(33% - #{to-rem(16)});
  }
}

.news-section__item-link {
  height: 100%;
  display: flex;
  align-items: center;
  gap: to-rem(20);

  @media (hover: hover) {
    &:hover {
      .news-section__item-title {
        color: var(--col-le-max);
      }
    }
  }
}

.news-section__item-image {
  width: to-rem(86);
  height: to-rem(86);
  object-fit: cover;
  border-radius: to-rem(12);
}

.news-section__item-title {
  @include line-clamp(3);

  font-size: to-rem(14);
  line-height: to-rem(20);
  font-weight: 500;
  color: var(--col-white-alpha);
  transition: color var(--hover-transition);
}
