.nft-checkout-steps-section {
  border: 1px solid green;
  position: relative;
  height: vh(100);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 0;
  padding-bottom: to-rem(80);
  text-align: center;
  transition: padding-top 0.8s var(--slide-transition-timing-function);

  @include respond-above(medium) {
    justify-content: flex-start;
    padding-bottom: to-rem(150);
    text-align: left;
  }
}

.nft-checkout-steps-section__content {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.nft-checkout-steps-section__lottie-wrapper {
  --wrapper-relative-width: 0.65;

  border: 1px solid red;
  position: relative;
  z-index: var(--z-default);
  top: 0;
  right: 0;
  width: calc(var(--wrapper-relative-width) * 100%);
  margin-left: auto;
  pointer-events: none;
  transition: transform var(--fast-transition-duration) linear;
  will-change: transform;
}

.nft-checkout-steps-section__lottie {
  position: relative;
  padding-top: 126%;
  height: 0;
  overflow: hidden;

  @include respond-above(medium) {
    padding-top: 82%;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    /* stylelint-disable-next-line declaration-no-important */
    // transform: translate(2%, -26%) scale(3.4) !important;

    @include respond-above(medium) {
      /* stylelint-disable-next-line declaration-no-important */
      // transform: translate(20%, -20%) scale(1.8) !important;
    }
  }
}

.nft-checkout-steps-section__list {
  width: 100%;
  margin: 0;

  @include respond-above(medium) {
    max-width: to-rem(290);
  }
}

.nft-checkout-steps-section__item {
  display: flex;
  flex-direction: column;

  &:not(.swiper-slide-active) {
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 0 !important;
  }
}

.nft-checkout-steps-section__counter {
  order: -1;
  margin-bottom: to-rem(8);
  font-family: var(--secondary-font-family);
  font-size: to-rem(16);
  font-weight: 700;

  @include respond-above(medium) {
    margin-bottom: to-rem(24);
    font-size: var(--h4-size);
  }

  &--total {
    @include respond-above(medium) {
      font-size: to-rem(20);
    }
  }
}

.nft-checkout-steps-section__title {
  font-family: var(--secondary-font-family);
  font-size: to-rem(24);

  @include respond-above(medium) {
    font-size: to-rem(48);
  }
}

.nft-checkout-steps-section__slide-btn-wrapper {
  position: absolute;
  top: 100px;
  left: 100px;
  @include respond-to(medium) {
    position: relative;
    background-color: var(--col-lead);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: to-rem(20);
      width: to-rem(1);
      background-color: rgba(var(--col-total-white-rgb), 10%);
      content: '';
    }
  }
}

.nft-checkout-steps-section__slide-btn {
  &.nft-checkout-steps-section__slide-btn {
    min-height: to-rem(48);
    width: to-rem(48);
    padding: 0;
    border: none;

    @include respond-above(medium) {
      min-height: to-rem(24);
      width: to-rem(24);
    }
  }

  &:not(:last-child) {
    @include respond-above(medium) {
      margin-right: to-rem(24);
    }
  }
}

.nft-checkout-steps-section__slide-btn-icon {
  transform: rotate(-90deg);

  @include respond-above(medium) {
    width: to-rem(16);
    height: to-rem(16);
  }

  &--forward {
    transform: rotate(90deg);
  }
}
