.nft-checkout-page__animation-container {
  --lottie-wrapper-padding-top: #{vh(4)};
  --lottie-wrapper-height: #{vh(100)};
  --lottie-wrapper-relative-width: 0.65;

  @include respond-above(medium) {
    --lottie-wrapper-padding-top: min(#{to-rem(200)}, #{vh(10)});
    --lottie-wrapper-height: calc(
      #{vh(100)} + #{to-rem(400)} - var(--lottie-wrapper-padding-top)
    );

    // --lottie-wrapper-height: #{vh(100)};
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nft-checkout-page__steps-section-wrapper {
  height: vh(220);
  width: 100%;
  margin-top: calc(var(--lottie-wrapper-height) * -1);
  position: relative;

  @include respond-above(medium) {
    height: vh(300);
    margin-top: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, blue 2px, transparent 2px);
    background-size: 100% 20%;
    background-repeat: repeat;
  }
}

.nft-checkout-page__lottie-wrapper {
  border: 2px solid red;
  position: sticky;
  z-index: 5;
  top: 0;
  right: 0;
  height: var(--lottie-wrapper-height);
  width: 100%;
  max-width: to-rem(360);
  align-self: center;
  padding-top: var(--lottie-wrapper-padding-top);
  overflow: hidden;
  // pointer-events: none;

  @include respond-above(medium) {
    width: calc(
      var(--container-max-width) * var(--lottie-wrapper-relative-width)
    );
    max-width: unset;
    margin-top: calc(var(--lottie-wrapper-height) * -1);
    align-self: flex-end;
    overflow: visible;
    transform: translateX(calc(var(--container-side-padding) * -1));
    transition: right var(--fast-transition-duration) linear;
    will-change: right;
  }
}

.nft-checkout-page__lottie {
  display: flex;
  transform: scale(1.72);
  transform-origin: top right;

  @include respond-above(medium) {
    transform: none;
  }

  // @include respond-above(large) {
  //   margin-top: 22%;
  // }
}

.nft-checkout-page__parallax-square {
  position: absolute;
  z-index: var(--z-hidden);
  transition-property: transform, opacity;
  transition-duration: var(--fast-transition-duration);
  transition-timing-function: linear;
  will-change: transform, opacity;
  pointer-events: none;

  @include respond-to(medium) {
    display: none;
  }

  &--first {
    top: 7%;
    right: 8%;
    width: to-rem(133);
    height: to-rem(68);
    background-color: var(--col-sagittarius-amber);
  }

  &--second {
    top: 37%;
    right: -7%;
    height: to-rem(66);
    width: to-rem(66);
    background-color: var(--col-primary-accent-main);
  }
}
