.nft-checkout-page__animation-container {
  --lottie-wrapper-height: #{vh(100)};

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nft-checkout-page__steps-section-wrapper {
  height: vh(220);
  width: 100%;
  margin-top: calc(var(--lottie-wrapper-height) * -1);

  @include respond-above(medium) {
    height: vh(300);
    margin-top: 0;
  }
}

.nft-checkout-page__lottie-wrapper {
  position: sticky;
  z-index: var(--z-lottie-animation);
  top: 0;
  right: 0;
  height: var(--lottie-wrapper-height);
  width: 100%;
  max-width: to-rem(360);
  align-self: center;
  padding-top: vh(4);
  overflow: hidden;
  pointer-events: none;

  @include respond-above(medium) {
    width: calc(var(--container-max-width) * 0.65);
    max-width: unset;
    margin-top: calc(var(--lottie-wrapper-height) * -1);
    padding-top: vh(18);
    align-self: flex-end;
    overflow: visible;
    transform: translateX(calc(var(--container-side-padding) * -1));
    transition: right var(--fast-transition-duration) linear,
      padding var(--slow-transition-duration)
        var(--slide-transition-timing-function);

    .nft-checkout-page__animation-container--sticky-section & {
      padding-top: vh(10);
    }
  }

  @include respond-above(large) {
    width: calc(var(--container-max-width) * 0.6);
  }
}

.nft-checkout-page__lottie {
  display: flex;
  transform: scale(1.72);
  transform-origin: top right;

  @include respond-above(medium) {
    transform: none;
  }
}

.nft-checkout-page__parallax-square {
  position: absolute;
  z-index: var(--z-hidden);
  transition-property: transform, opacity;
  transition-duration: var(--fast-transition-duration);
  transition-timing-function: linear;
  will-change: transform, opacity;
  pointer-events: none;

  @include respond-to(medium) {
    display: none;
  }

  &--first {
    top: 14%;
    right: 8%;
    width: to-rem(133);
    height: to-rem(68);
    background-color: var(--col-sagittarius-amber);
  }

  &--second {
    top: 40%;
    right: -5%;
    height: to-rem(66);
    width: to-rem(66);
    background-color: var(--col-primary-accent-main);
  }
}
