.use-cases-section {
  position: relative;
  padding-top: bg-space(2);
  padding-bottom: bg-space(2);
  background-color: var(--yellow-accent-bg-color);
  background-image: url('/img/bg/green-rect.png');
  background-size: var(--primary-bg-rect-size);
  background-repeat: repeat;

  @extend %accent-bg-plh;
}

.use-cases-section__title-wrapper {
  height: bg-space(2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: bg-space(1);
  padding: 0 bg-space(0.5);

  @include respond-above(sm) {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: bg-space(2);
    padding: 0 bg-space(1);
  }

  @include respond-to(md) {
    @include block-with-bg-border(var(--yellow-accent-bg-color));
  }
}

.use-cases-section__subtitle {
  text-transform: uppercase;

  @include respond-above(sm) {
    height: bg-space(1);
    display: flex;
    align-items: center;
  }

  @include respond-above(md) {
    width: bg-space(8);
    padding: 0 bg-space(1);
    font-size: 1em;

    @include block-with-bg-border(var(--yellow-accent-bg-color));
  }

  @include respond-above(xm) {
    width: bg-space(7);
  }
}

.use-cases-section__share-wrapper {
  display: flex;
  align-items: center;
  font-size: to-rem(14);
  color: var(--secondary-text-color);

  @include respond-above(sm) {
    height: bg-space(1);
    justify-content: flex-end;
  }

  @include respond-above(md) {
    width: bg-space(11);
    padding: 0 bg-space(1);

    @include block-with-bg-border(var(--yellow-accent-bg-color));
  }

  @include respond-above(xm) {
    width: bg-space(10);
    font-size: 0.8em;
  }

  @include respond-above(lg) {
    font-size: 0.7em;
  }
}

.use-cases-section__share-link {
  position: relative;
  margin-left: 0.3em;
  transition: color var(--hover-transition);

  &::after {
    position: absolute;
    left: 0;
    bottom: -#{to-rem(1)};
    width: 100%;
    height: to-rem(1);
    background-color: var(--secondary-text-color);
    content: '';
    transition: background-color var(--hover-transition);
  }

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--col-primary-black);

      &::after {
        background-color: var(--col-primary-black);
      }
    }
  }
}

.use-cases-section__cases-list {
  position: relative;
  height: bg-space(14);
  margin: 0 bg-space(0.5);
  user-select: none;

  @extend %primary-bg-plh;

  @include respond-above(sm) {
    height: bg-space(16);
    margin: 0 bg-space(1);
  }
}

.use-cases-section__list-nav-btn {
  position: absolute;
  z-index: var(--z-use-cases-swiper-arrow);
  display: grid;
  place-items: center;
  right: 0;
  bottom: 0;
  height: bg-space(1);
  width: bg-space(1.5);
  background-color: transparent;
  color: var(--secondary-title-color);
  cursor: pointer;
  transition: color var(--hover-transition);

  @include respond-above(sm) {
    width: bg-space(2);
  }

  @include respond-above(md) {
    height: bg-space(2);
  }

  &:disabled {
    opacity: 1;
  }

  &--prev {
    right: bg-space(1.5);
    transform: rotate(180deg);

    @include respond-above(sm) {
      right: bg-space(2);
    }

    @include respond-above(md) {
      right: 0;
      bottom: bg-space(2);
    }

    @media all and (hover: hover) {
      &:not(:disabled) {
        &:hover,
        &:focus-visible {
          color: var(--primary-title-color);
        }
      }
    }
  }

  &--next {
    background-color: var(--yellow-accent-bg-color);
    background-image: url('/img/bg/green-rect.png');
    background-size: var(--primary-bg-rect-size);
    background-repeat: repeat;
    color: var(--col-black-alpha);

    @media all and (hover: hover) {
      &:not(:disabled) {
        &:hover,
        &:focus-visible {
          color: var(--col-primary-black);
        }
      }
    }
  }
}

.use-cases-section__list-nav-icon {
  height: bg-space(0.5);
  width: bg-space(0.5);

  @include respond-above(md) {
    height: bg-space(0.7);
    width: bg-space(0.7);
  }

  .use-cases-section__list-nav-btn:disabled & {
    opacity: 0.5;
  }
}

.use-cases-section__case-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: bg-space(1) bg-space(0.5);
  background-image: var(--use-cases-section-case-bg-gradient);

  @include respond-above(sm) {
    padding: bg-space(2);
  }
}

.use-cases-section__case-title {
  margin-bottom: bg-space(1.2);
  color: var(--secondary-title-color);
}

.use-cases-section__case-link {
  margin-bottom: bg-space(1.2);
  flex: 0 0 bg-space(1.2);

  @include respond-above(sm) {
    margin-bottom: auto;
  }
}

.use-cases-section__case-link-icon {
  margin-left: to-rem(12);
}

.use-cases-section__case-content-wrapper {
  @include respond-above(md) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: to-rem(36) to-rem(60);
    margin-top: bg-space(1);
  }
}

.use-cases-section__content-block {
  @include respond-above(md) {
    flex: 0 0 to-rem(400);
  }

  &:not(:last-child) {
    margin-bottom: bg-space(1.2);

    @include respond-above(md) {
      margin-bottom: 0;
    }
  }
}

.use-cases-section__description {
  max-width: to-rem(450);
  font-size: to-rem(14);

  @include respond-above(sm) {
    font-size: 0.8em;
  }

  @include respond-above(md) {
    @include respond-to(xm) {
      font-size: 0.7em;
    }
  }
}

.use-cases-section__partner-logo {
  height: to-rem(20);
  width: auto;
}
