.use-cases-section {
  padding-top: to-rem(52);
  padding-bottom: to-rem(52);

  @include respond-above(medium) {
    margin-top: min(25vh, to-rem(250));
    padding-top: max(9vh, to-rem(52));
    padding-bottom: max(9vh, to-rem(52));
  }
}

.use-cases-section__title-wrapper {
  margin-bottom: to-rem(40);

  @include respond-above(medium) {
    display: flex;
    align-items: center;
    margin-bottom: to-rem(48);
  }
}

.use-cases-section__title {
  margin-bottom: to-rem(16);
  text-transform: uppercase;

  @include respond-above(medium) {
    --divider-width: #{to-rem(9)};

    position: relative;
    margin-right: calc(var(--divider-width) + #{to-rem(36)});
    margin-bottom: 0;

    &::after {
      position: absolute;
      top: 50%;
      right: calc((var(--divider-width) + #{to-rem(18)}) * -1);
      width: var(--divider-width);
      height: to-rem(1);
      transform: translateY(-50%);
      background-color: var(--primary-text-color);
      content: '';
    }
  }
}

.use-cases-section__share-wrapper {
  color: var(--primary-text-color);
  font-size: to-rem(14);
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
}

.use-cases-section__share-link {
  @extend %external-link;

  margin-left: 0.3em;
}

.use-cases-section__grid {
  display: none;

  @include respond-above(medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 24vh;
    grid-gap: to-rem(32);
  }
}

.use-cases-section__cases-swiper {
  height: to-rem(180);

  @include respond-above(medium) {
    display: none;
  }
}

.use-cases-section__cases-swiper-slide {
  width: to-rem(342);
}

.use-cases-section__case-item {
  height: 100%;
  background-image: radial-gradient(
    117.02% 117.02% at 50% -17.02%,
    rgba(var(--col-total-white-rgb), 12%) 0%,
    rgba(var(--col-total-white-rgb), 0%) 100%
  );
  border-radius: var(--primary-border-radius);

  &--big {
    grid-row: span 2;
  }
}

.use-cases-section__case-item-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media all and (hover: hover) {
    transform: translateY(to-rem(40));
    transition: transform var(--slide-transition);

    .use-cases-section__case-item:hover &,
    .use-cases-section__case-item:focus-visible & {
      transform: translateY(0);
    }
  }
}

.use-cases-section__case-item-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.use-cases-section__case-item-title {
  width: 100%;
  color: var(--col-primary-accent-main);

  .use-cases-section__case-item--yellow & {
    color: var(--col-peach-bellini);
  }
}

.use-cases-section__case-item-text {
  margin-top: to-rem(8);

  @media all and (hover: hover) {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--slide-transition);

    .use-cases-section__case-item:hover &,
    .use-cases-section__case-item:focus-visible & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
