.app-footer {
  --footer-gutter: #{to-rem(20)};
}

.app-footer__content {
  padding-top: to-rem(40);
  padding-bottom: to-rem(40);
  border-top: to-rem(1) solid var(--primary-border-color);
  font-size: to-rem(14);

  @include respond-above(md) {
    display: grid;
    grid-template-columns: to-rem(290) repeat(2, max-content);
    grid-gap: to-rem(160);
    padding-top: to-rem(64);
    padding-bottom: to-rem(64);
  }
}

.app-footer__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-above(md) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.app-footer__logo {
  height: to-rem(24);
  display: flex;
  color: var(--app-footer-logo-color);

  &:hover {
    color: var(--app-footer-logo-color);
  }
}

.app-footer__logo-img {
  height: 100%;
  width: auto;
}

.app-footer__description {
  display: none;
  font-size: to-rem(14);

  @include respond-above(md) {
    display: block;
    margin-top: var(--footer-gutter);
    margin-bottom: auto;
  }
}

.app-footer__links-list {
  display: none;

  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: var(--footer-gutter);
    align-items: center;
  }
}

.app-footer__list-title {
  color: var(--primary-title-color);
  font-size: to-rem(16);
  font-weight: 600;
}

.app-footer__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
  cursor: pointer;

  @include hover {
    color: var(--primary-title-color);
  }
}

.app-footer__link-icon {
  transform: rotate(-45deg);

  &:not(:first-child) {
    margin-left: to-rem(8);
  }
}
