.app-footer {
  --footer-cell-height: #{to-rem(40)};

  position: relative;
  padding-top: to-rem(130);
  padding-bottom: to-rem(40);
}

.app-footer__content {
  font-size: to-rem(14);

  @include respond-above(md) {
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr auto;
    grid-gap: 20%;
  }
}

.app-footer__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-above(md) {
    padding: calc(var(--footer-cell-height) / 4) 0;
    align-items: flex-start;
    flex-direction: column;
  }
}

.app-footer__logo {
  height: to-rem(20);
  display: flex;
  color: var(--app-footer-logo-color);

  &:hover {
    color: var(--app-footer-logo-color);
  }
}

.app-footer__logo-img {
  height: 100%;
  width: auto;
}

.app-footer__links-list {
  display: none;

  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: var(--footer-cell-height);
    align-items: center;
  }
}

.app-footer__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
  cursor: pointer;

  @include hover {
    color: var(--primary-title-color);
  }
}

.app-footer__link-icon {
  transform: rotate(-45deg);

  &:not(:first-child) {
    margin-left: to-rem(8);
  }
}

.app-footer__scroll-to-top-btn {
  &.app-footer__scroll-to-top-btn {
    display: none;
    height: var(--footer-cell-height);
    width: var(--footer-cell-height);
    padding: 0;

    @include respond-above(md) {
      display: inline-flex;
    }
  }
}

.app-footer__scroll-to-top-icon {
  transform: rotate(-90deg);
}

.app-footer__space {
  display: none;

  @include respond-above(md) {
    display: block;
  }
}
