.app-footer {
  padding-bottom: bg-space(2);
  height: var(--app-footer-height);

  @include respond-above(sm) {
    padding-bottom: bg-space(1);
  }

  @include respond-above(md) {
    padding-bottom: bg-space(2);
  }
}

.app-footer__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-footer__bg-table {
  display: none;

  @include respond-above(md) {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-default);
    width: calc(100% - bg-space(2) - to-rem(1));
    margin: 0 bg-space(1);

    @include block-with-bg-border;
  }
}

.app-footer__bg-table-cell {
  height: bg-space(1);

  tr:not(:last-child) & {
    border-bottom: to-rem(1) solid var(--bg-rect-border-color);
  }
}

.app-footer__content {
  height: 100%;
  font-size: to-rem(14);

  @include respond-to(md) {
    padding: 0 bg-space(1);

    @include block-with-bg-border;
  }

  @include respond-above(md) {
    position: relative;
    z-index: var(--z-default);
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr auto;
    grid-gap: 20%;
    margin: 0 bg-space(1);
  }
}

.app-footer__logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: bg-space(1);
    grid-gap: bg-space(2);
    align-items: center;
  }
}

.app-footer__logo {
  height: bg-space(0.5);
  display: flex;
  color: var(--app-footer-logo-color);

  &:hover {
    color: var(--app-footer-logo-color);
  }
}

.app-footer__logo-img {
  height: 100%;
  width: auto;
}

// .app-footer__navigation {
// }

.app-footer__social-links-wrapper {
  display: none;

  @include respond-above(md) {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: bg-space(1);
    align-items: center;
  }
}

.app-footer__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);

  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--secondary-title-color);
    }
  }
}

.app-footer__link-icon {
  transform: rotate(-45deg);

  &:not(:first-child) {
    margin-left: to-rem(8);
  }
}

.app-footer__scroll-to-top-btn {
  &.app-footer__scroll-to-top-btn {
    display: none;
    height: bg-space(1);
    width: bg-space(1);
    padding: 0;

    @include respond-above(md) {
      display: inline-flex;
    }
  }
}

.app-footer__scroll-to-top-icon {
  transform: rotate(-90deg);
}

.app-footer__space {
  display: none;

  @include respond-above(md) {
    display: block;
  }
}
