%visually-hidden {
  position: absolute;
  overflow: hidden;
  width: to-rem(1);
  height: to-rem(1);
  padding: 0;
  border: 0;
  margin: calc(#{to-rem(1)} * -1);
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%accent-bg-plh {
  --primary-title-color: var(--col-primary-black);
  --primary-text-color: var(--col-primary-black);
  --bg-rect-border-color: var(--col-black-min-alpha);

  color: var(--primary-text-color);
}

%primary-bg-plh {
  --primary-title-color: var(--col-total-white);
  --primary-text-color: var(--col-primary-grey);
  --bg-rect-border-color: var(--col-white-min-alpha);

  color: var(--primary-text-color);
}
