@import '@/styles/colors';

:root,
:before,
:after {
  // Colors
  --col-total-white: #{$col-total-white};
  --col-total-black: #{$col-total-black};

  --col-gluon-grey: #{$col-gluon-grey};
  --col-turquoise-pearl: #{$col-turquoise-pearl};
  --col-honeydew-peel: #{$col-honeydew-peel};
  --col-apocyan: #{$col-apocyan};
  --col-pink-elephants: #{$col-pink-elephants};
  --col-melon-sprinkle: #{$col-melon-sprinkle};
  --col-california-lilac: #{$col-california-lilac};

  --primary-gradient: linear-gradient(108.96deg, #86fff5 0.49%, #30d5c8 99.07%);

  // --primary-color: #{$col-blurple};
  // --secondary-color: #{$col-purple-illusionist};

  // Z-indexes
  --z-app-bar: 14;

  // Text variables
  --primary-font: 'SpaceGrotesk', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;

  --p-size: #{to-rem(14)};
  --p-weight: 400;
  --h2-size: #{to-rem(56)};
  --h3-size: #{to-rem(32)};
  --h4-size: #{to-rem(20)};
  --h5-size: #{to-rem(18)};
  --title-weight: 700;

  // Transitions
  --fast-transition-duration: 0.2s;
  --medium-transition-duration: 0.3s;
  --hover-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --slide-transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  --fade-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  --hover-transition: var(--fast-transition-duration)
    var(--hover-transition-timing-function);
  --slide-transition: var(--fast-transition-duration)
    var(--slide-transition-timing-function);

  // Base
  --container-side-padding: #{to-rem(24)};

  // Common
  --scrollbar-color: var(--primary-text-color);

  // App bar
  --app-bar-height: #{to-rem(80)};
  --app-bar-bg: var(--primary-gradient);
  --app-bar-logo-color: var(--col-total-black);

  // App footer
  --app-footer-height: #{to-rem(104)};
  --app-footer-logo-color: var(--primary-title-color);
}
