@use 'sass:color';
@import '@/styles/colors';

:root,
::before,
::after {
  // Primary colors
  --col-total-white: #{$col-total-white};
  --col-total-white-rgb: #{$col-total-white-rgb};
  --col-total-black: #{$col-total-black};
  --col-total-black-rgb: #{$col-total-black-rgb};

  --col-white-alpha: rgba(#{$col-total-white-rgb}, 84%);
  --col-white-min-alpha: rgba(#{$col-total-white-rgb}, 10%);
  --col-black-alpha: rgba(#{$col-black-wash-rgb}, 70%);
  --col-black-min-alpha: rgba(#{$col-total-black-rgb}, 10%);
  --col-primary-black: #{$col-black-wash};
  --col-primary-black-rgb: #{$col-black-wash-rgb};
  --col-primary-grey: #{$col-more-than-a-week};

  --col-primary-accent-main: #{$col-le-max};
  --col-primary-accent-main-rgb: #{$col-le-max-rgb};
  --col-primary-accent-dark: #{color.adjust($col-le-max, $lightness: -10%)};

  // Status colors
  --col-error: #{$col-vermilion-cinnabar};

  // Brand colors
  --col-sunstitch: #{$col-sunstitch};
  --col-sunstitch-rgb: #{$col-sunstitch-rgb};

  --col-peach-bellini: #{$col-peach-bellini};
  --col-peach-bellini-rgb: #{$col-peach-bellini-rgb};

  --col-cantaloupe-slice: #{$col-cantaloupe-slice};
  --col-cantaloupe-slice-rgb: #{$col-cantaloupe-slice-rgb};

  --col-sagittarius-amber: #{$col-sagittarius-amber};
  --col-sagittarius-amber-rgb: #{$col-sagittarius-amber-rgb};

  --col-le-max: #{$col-le-max};
  --col-le-max-rgb: #{$col-le-max-rgb};

  --col-latigo-bay: #{$col-latigo-bay};
  --col-latigo-bay-rgb: #{$col-latigo-bay-rgb};

  // Old design colors
  --col-gluon-grey: #{$col-gluon-grey};
  --col-turquoise-pearl: #{$col-turquoise-pearl};
  --col-silverpine-cyan: #{$col-silverpine-cyan};

  // Z-indexes
  --z-app-sidebar: 20;
  --z-main-overlay: 18;
  --z-app-bar: 14;
  --z-lottie-animation: 5;
  --z-default: 1;
  --z-hidden: -1;

  // Text variables
  /* stylelint-disable max-line-length */
  --primary-font-family: 'Inter', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  --secondary-font-family: 'Oswald', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  /* stylelint-enable max-line-length */

  --p-size: #{to-rem(14)};
  --h1-size: #{to-rem(56)};
  --h2-size: #{to-rem(32)};
  --h3-size: #{to-rem(24)};
  --h4-size: #{to-rem(32)};
  --h5-size: #{to-rem(16)};
  --h6-size: #{to-rem(16)};
  --overline-size: #{to-rem(14)};

  @include respond-above(medium) {
    --p-size: var(--p-size-medium);
    --h1-size: var(--h1-size-medium);
    --h2-size: var(--h2-size-medium);
    --h3-size: var(--h3-size-medium);
    --h4-size: var(--h4-size-medium);
  }

  @include respond-above(large) {
    --p-size: #{to-rem(14)};
    --h1-size: #{to-rem(148)};
    --h2-size: #{to-rem(50)};
    --h3-size: #{to-rem(40)};
    --h4-size: #{to-rem(32)};
    --h5-size: #{to-rem(20)};
    --h6-size: #{to-rem(18)};
  }

  // Transitions
  --fast-transition-duration: 0.2s;
  --medium-transition-duration: 0.3s;
  --slow-transition-duration: 0.4s;
  --hover-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --slide-transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  --fade-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  --hover-transition: var(--fast-transition-duration)
    var(--hover-transition-timing-function);
  --slide-transition: var(--fast-transition-duration)
    var(--slide-transition-timing-function);

  // Base
  --container-max-width: 100%;
  --container-side-padding: #{to-rem(20)};
  --primary-bg-rect-size: #{to-rem(50)};
  --bg-rect-border-size: #{to-rem(1)};
  --primary-border-radius: #{to-rem(4)};

  @include respond-above(medium) {
    --container-max-width: #{to-rem(1100)};
    --primary-bg-rect-size: #{to-rem(66)};
  }

  @include respond-above(xmedium) {
    --container-max-width: #{to-rem(1180)};
    --container-side-padding: #{to-rem(40)};
  }

  @include respond-above(large) {
    --container-max-width: #{to-rem(1520)};
  }

  // Common
  --scrollbar-color: var(--primary-text-color);

  // App bar
  --app-bar-height: #{to-rem(80)};
  --app-bar-logo-color: var(--primary-title-color);

  // App footer
  --app-footer-logo-color: var(--primary-title-color);

  // How it works section
  --how-it-works-chart-default-width: #{to-rem(1256)};
  --how-it-works-mobile-chart-max-width: #{to-rem(500)};
}
